<section class="container">
  <div class="text-center font-arabic translate-y-1/2">
    <img src="/images/password reset page4.svg" alt="" class="block mx-auto" />
    <h6 class="text-4xl font-bold text-primary-txt mb-1">عملية ناجحة</h6>
    <span class="block text-sm font-normal text-third-txt">تم الدفع بنجاح</span>

    <a
      [routerLink]="['/parent/my-children/child-vaccine-schedule',childId]"
      class="w-fit mx-auto mt-6 cursor-pointer flex justify-center font-arabic gap-[10px] py-[9px] px-[24px] rounded-lg font-bold bg-primary-btn text-mainBg-100 transition duration-200 hover:bg-[#0B4632]"
    >
      <span class="inline-block"> الذهاب لصفحة جدول تطعيمات طفلك </span>
    </a>
  </div>
</section>
