.report-shortage-style .mat-mdc-dialog-surface {
  background-color: #f9fafb !important;
  border-radius: 12px !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -ms-border-radius: 12px !important;
  padding: 30px 30px 20px 30px !important;
  -o-border-radius: 12px !important;
  width: 720px !important;
  max-width: none !important;
  transform: translateX(60px) !important;
  -webkit-transform: translateX(60px) !important;
  -moz-transform: translateX(60px) !important;
  -ms-transform: translateX(60px) !important;
  -o-transform: translateX(60px) !important;
}

.report-shortage-style
  .mat-mdc-radio-button
  .mdc-radio__native-control:enabled:checked
  + .mdc-radio__background
  .mdc-radio__outer-circle,
.report-shortage-style
  .mat-mdc-radio-button
  .mdc-radio__native-control:enabled:checked
  + .mdc-radio__background
  .mdc-radio__inner-circle {
  border-color: #127453 !important;
}

.report-shortage-style
  .mat-mdc-radio-button.mat-mdc-radio-checked
  .mat-ripple-element,
.report-shortage-style
  .mat-mdc-radio-button.mat-mdc-radio-checked
  .mdc-radio__background::before {
  background-color: transparent !important;
}
