<section class="bg-mainBg-200 min-h-screen">
  <div class="container pt-6 pb-5">
    <div class="flex-1 p-6">
      <h3 class="text-[28px] font-semibold text-[#51419]">وحدات مركز المنيا</h3>
      <div class="flex items-center gap-1 mt-3">
        <a routerLink="/city-center-admin/units">الصفحة الرئيسية</a>
        <img
          src="/icons/Caret Down.svg"
          alt=""
          class="rotate-90 h-3 w-3 mt-[6px]"
        />
        <a
          [routerLink]="[
            '/city-center-admin/units',
            healthCareCenterName,
            healthCareCenterId
          ]"
        >
          {{ healthCareCenterName }}
        </a>
      </div>

      <div class="mt-6">
        <div
          class="bg-white rounded-lg px-6 pt-4 pb-8 mb-8 border border-third-border"
        >
          <h6 class="font-semibold text-lg mb-6">
            معلومات {{ data?.healthCareCenterName }}
          </h6>
          <div class="flex mb-6 pr-4">
            <div class="w-1/2">
              <img class="inline" src="/icons/location.svg" alt="" />
              <span class="mr-1 text-third-txt font-normal">العنوان</span>
              <p class="font-semibold mt-1">
                محافظة {{ data?.governorate }}

                -مركز {{ data?.city }} - {{ data?.village }}
              </p>
            </div>
            <div class="w-1/2">
              <img class="inline" src="/icons/city-admin.svg" alt="" />
              <span class="mr-1 text-third-txt font-normal">المسئول</span>
              <p class="font-semibold mt-1">
                {{
                  data?.organizerName == null ? "غير مسجل" : data?.organizerName
                }}
              </p>
            </div>
          </div>
          <div class="flex mb-6 pr-4">
            <div class="w-1/2">
              <img
                class="inline"
                src="/icons/lucide_calendar-days.svg"
                alt=""
              />
              <span class="mr-1 text-third-txt font-normal">أيام العمل</span>
              <p class="font-semibold mt-1">
                {{ data?.firstDayAr }} - {{ data?.secondDayAr }}
              </p>
            </div>
            <div class="w-1/2">
              <img class="inline" src="/icons/doctor.svg" alt="" />
              <span class="mr-1 text-third-txt font-normal">الدكتور</span>
              <p class="font-semibold mt-1">
                {{ data?.doctorName == null ? "غير مسجل" : data?.doctorName }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-6">
        <h4 class="pr-4 mb-2 text-lg font-semibold">مخزون اللقاحات</h4>
        <table
          class="table-fixed w-full text-center text-lg [&_td]:py-3 [&_tbody_tr]:border"
        >
          <thead class="bg-primary-table">
            <tr>
              <td class="rounded-tr-lg">إسم اللقاح</td>
              <td class="rounded-tl-lg">العدد</td>
            </tr>
          </thead>
          <tbody>
            @for (item of data.inventories; track $index) {

            <tr>
              <td>{{ item.antigen }}</td>
              <td
                [ngClass]="{
                  'text-error font-bold': item.amount <= 20,
                  'text-black font-normal': item.amount > 20
                }"
                class="rounded-l-md"
              >
                {{ item.amount }}
              </td>
            </tr>

            }
          </tbody>
        </table>

        <button
          (click)="goBack()"
          class="flex gap-x-2 mt-8 mx-auto w-fit bg-black text-white py-2 px-6 rounded-lg cursor-pointer hover:bg-opacity-80 transition-colors"
        >
          <img src="/icons/streamline_emergency-exit.svg" class="" alt="" />

          <span class="font-bold text-sm"> رجوع </span>
        </button>
      </div>
    </div>
  </div>
</section>
