<section class="bg-mainBg-200 min-h-screen font-arabic">
  <div class="container pt-6 pb-5">
    <h3 class="text-[28px] font-semibold text-[#51419]">الطلبات</h3>
    <div class="mt-5">
      @if (role=='governorateAdmin' || role=='cityAdmin') {
      <div class="w-[250px] relative mb-4">
        <select
          (change)="navigateTo($event)"
          class="w-full text-lg px-3 py-2 rounded-lg border border-third-border appearance-none text-right outline-none cursor-pointer"
        >
          <option value="all-orders">الطلبات المطلوبة</option>
          <option value="all-orders" selected>كل الطلبات</option>
          <option value="my-orders">طلباتي</option>
        </select>

        <img
          class="block absolute top-1/2 -translate-y-1/2 left-6 cursor-pointer"
          src="/icons/Caret Down.svg"
          alt=""
        />
      </div>
      }

      <div class="flex justify-start items-center mb-4">
        <div class="flex gap-4">
          <button
            (click)="filterOrders('all')"
            [ngClass]="{
              'bg-primary-btn text-white': activeFilter === 'all',
            }"
            class="border px-4 py-2 rounded-[42px] hover:bg-primary-hov transition-colors"
          >
            الكل
          </button>

          <button
            [ngClass]="{
              'bg-primary-btn text-white': activeFilter === 'Pending',
            }"
            (click)="filterOrders('Pending')"
            class="border px-4 py-2 rounded-[42px] hover:bg-primary-hov transition-colors"
          >
            <span> قيد الإنتظار </span>
            <span
              *ngIf="pendingOrderCount"
              class="inline-block mr-2 bg-error text-white rounded-full px-2 py-0.5 text-center text-sm"
              >+{{ pendingOrderCount }}</span
            >
          </button>

          <button
            [ngClass]="{
              'bg-primary-btn text-white': activeFilter === 'Processing',
            }"
            (click)="filterOrders('Processing')"
            class="border px-4 py-2 rounded-[42px] hover:bg-primary-hov transition-colors"
          >
            جارى التوصيل
          </button>
          <button
            [ngClass]="{
              'bg-primary-btn text-white': activeFilter === 'Recived',
            }"
            (click)="filterOrders('Recived')"
            class="flex gab-2 border px-4 py-2 rounded-[42px] hover:bg-primary-hov transition-colors"
          >
            المستلمة
          </button>
        </div>
      </div>

      <div class="flex gap-4">
        <div class="w-1/2">
          <div
            class="flex justify-between bg-primary-bg text-white rounded-t-lg py-3 mb-2 border rounded-lg"
          >
            @if(role=='admin'){
            <div class="w-1/2 text-center">المحافظة</div>
            }@else if(role=='governorateAdmin'){
            <div class="w-1/2 text-center">المركز</div>
            }
            <div class="w-1/2 text-center">الحالة</div>
          </div>
          <div class="scroll-container">
            @for (order of filteredOrders; track $index) {
            <div
              (click)="selectOrder(order.id, order.status)"
              class="flex justify-between py-3 mb-2 bg-white border rounded-lg hover:bg-primary-hov transition-colors cursor-pointer"
              [ngClass]="{'border-transparent border-r-primary-bg border-r-8 ': selectedOrderId === order?.id,}"
            >
              @if(role=='admin'){
              <div class="w-1/2 text-center">{{ order?.governorate }}</div>
              }@else if(role=='governorateAdmin'){
              <div class="w-1/2 text-center">{{ order?.city }}</div>
              }@else if(role=='cityAdmin'){
              <!-- <div class="w-1/2 text-center">{{ order?.city }}</div> -->
              <div class="w-1/2 text-center">وحدة</div>
              }

              <div
                class="w-fit flex mx-auto px-3 py-1 font-semibold rounded-2xl"
                [ngClass]="{
                  'bg-gray-100 text-gray-700': order.status === 'Pending',
                  'bg-primary-light text-primary-txt100':
                    order.status === 'Recived',
                  'bg-orange-50 text-orange-700': order.status === 'Processing'
                }"
              >
                <img [src]="getDotIcon(order.status)" class="ml-1" alt="" />
                <span>{{ order.statusAr }}</span>
              </div>
            </div>
            }
          </div>
        </div>

        <div
          class="flex-1 min-h-[560px] scroll-container border rounded-lg bg-white"
        >
          @if(selectedOrder){
          <div class="py-4 px-6">
            <h3 class="text-xl text-center font-semibold mb-4">التفاصيل</h3>
            <table class="w-full">
              <thead>
                <tr class="text-third-txt text-center">
                  <td colspan="2">
                    <div
                      class="flex justify-around items-center rounded-lg px-4 py-3"
                    >
                      <span> إسم اللقاح</span>
                      <span>العدد</span>
                    </div>
                  </td>
                </tr>
              </thead>
              <tbody class="space-y-4">
                @for (item of selectedOrder; track $index) {
                <tr>
                  <td colspan="2">
                    <div
                      class="flex justify-around items-center rounded-lg border px-4 py-3 mb-2"
                    >
                      <span>{{ item.antigen }}</span>
                      <span>{{ item.amount }}</span>
                    </div>
                  </td>
                </tr>

                }
              </tbody>
            </table>

            <button
              *ngIf="!hasSentDosesForSelected && hasPendingOrder"
              (click)="sendDoses()"
              class="flex items-center w-fit bg-primary-bg px-6 py-3 mx-auto mt-6 rounded-lg hover:bg-primary-hovbtn transition-colors"
            >
              <img src="/icons/carbon_send-filled.svg" alt="" />
              <span class="text-white mr-2 text-sm font-bold"
                >إرسال الجرعات</span
              >
            </button>
          </div>
          }@else {
          <p class="text-third-txt text-center leading-[560px]">
            إختر أوردر لعرض التفاصيل
          </p>
          }
        </div>
      </div>
    </div>
  </div>
</section>
