<section class="font-arabic relative bg-mainBg-200 w-full min-h-screen">
  <div class="container relative pt-8">
    <h2 class="text-left text-xl font-bold absolute left-4 top-8 w-full">
      <a routerLink="/home"> إبرة <span class="text-primary-txt">أمان</span></a>
    </h2>
    <div class="flex flex-wrap items-center justify-between mt-20">
      <div class="w-1/2 max-md:w-full">
        <img src="/images/forget-password.svg" alt="" />
      </div>
      <div class="w-1/2 max-md:w-full p-10">
        <mat-stepper linear #stepper class="stepper-change-password-style">
          <mat-step>
            <div class="font-arabic mb-10">
              <h6 class="text-[40px] font-bold text-[#151419]">
                إعادة تعيين كلمة المرور
              </h6>
              <p class="font-semibold text-xl text-third-txt mt-2">
                قم بتعيين كلمة مرور جديدة لحسابك
              </p>
            </div>
            <form
              [formGroup]="changePasswordForm"
              (ngSubmit)="changePassword()"
            >
              <div class="mb-5">
                <label
                  class="block text-xl font-semibold mb-2 mr-2"
                  for="password"
                  >كلمة المرور الجديدة
                </label>
                <div class="relative">
                  <input
                    formControlName="password"
                    [ngClass]="{
                      'border-red-700': password?.invalid && password?.dirty,
                      'border-third-border':
                        password?.valid || password?.untouched
                    }"
                    [type]="showPassword ? 'text' : 'password'"
                    name="password"
                    id="password"
                    placeholder="أدخل كلمة المرور"
                    class="placeholder:font-arabic w-full py-3 px-10 border rounded text-right outline-none placeholder:text-third-txt placeholder:text-base"
                  />
                  <img
                    class="absolute right-4 top-1/2 -translate-y-[calc(50%+3px)] text-sm"
                    src="icons/humbleicons_lock.svg"
                    alt=""
                  />

                  <img
                    (click)="togglePassword()"
                    class="absolute left-4 top-1/2 -translate-y-1/2 text-lg cursor-pointer"
                    src="icons/ri_eye-off-line.svg"
                    alt=""
                  />
                </div>

                <div
                  class="text-red-700 ml-2 font-semibold font-arabic font-base flex items-center gap-1"
                  *ngIf="password?.invalid && password?.dirty"
                >
                  <img
                    src="./icons/si_warning-fill.svg"
                    alt=""
                    class="w-4 h-4 mt-[1px]"
                  />
                  <div>
                    <small *ngIf="password?.errors?.['required']">
                      يجب إدخال كلمه مرور.
                    </small>
                    <small *ngIf="password?.errors?.['minlength']">
                      يجب أن كلمة مرور لا تقل عن 8 أحرف ويجب أن تحتوى على حرف
                      ورقم على الأقل.
                    </small>
                  </div>
                </div>
              </div>
              <div class="mb-5">
                <label
                  class="block text-xl font-semibold mb-2 mr-2"
                  for="confirm_password"
                >
                  تأكيد كلمة المرور
                </label>
                <div class="relative">
                  <input
                    formControlName="confirmPassword"
                    [ngClass]="{
                      'border-red-700':
                        confirmPassword?.invalid && confirmPassword?.dirty,
                      'border-third-border':
                        confirmPassword?.valid || confirmPassword?.untouched
                    }"
                    [type]="showConfirmPassword ? 'text' : 'password'"
                    name="confirm_password"
                    id="confirm_password"
                    placeholder="أعد كتابة كلمة المرور"
                    class="placeholder:font-arabic w-full py-3 px-10 border rounded text-right outline-none placeholder:text-third-txt placeholder:text-base"
                  />
                  <img
                    class="absolute right-4 top-1/2 -translate-y-[calc(50%+3px)] text-sm"
                    src="icons/humbleicons_lock.svg"
                    alt=""
                  />
                  <img
                    (click)="toggleConfirmPassword()"
                    class="absolute left-4 top-1/2 -translate-y-1/2 text-lg cursor-pointer"
                    src="icons/ri_eye-off-line.svg"
                    alt=""
                  />
                </div>

                <div
                  class="text-red-700 ml-2 font-semibold font-arabic font-base flex items-center gap-1"
                  *ngIf="confirmPassword?.dirty && (confirmPassword?.errors?.['required'] || changePasswordForm?.errors?.['unMatchedPassword'])"
                >
                  <img
                    src="./icons/si_warning-fill.svg"
                    alt=""
                    class="w-4 h-4 mt-[1px]"
                  />
                  <div>
                    <small *ngIf="confirmPassword?.errors?.['required']">
                      هذه الخانة مطلوبة.
                    </small>
                    <small
                      *ngIf="( changePasswordForm?.errors?.['unMatchedPassword'] &&  !confirmPassword?.errors?.['required'] )"
                    >
                      كلمتان المرور غير متطابقتان .
                    </small>
                  </div>
                </div>
              </div>
              <button
                *ngIf="changePasswordForm.valid"
                matStepperNext
                class="w-full cursor-pointer flex justify-center font-arabic gap-[10px] py-[9px] px-[24px] rounded-lg font-bold bg-primary-btn text-mainBg-100 transition duration-200 hover:bg-[#0B4632]"
              >
                <span class="inline-block"> تعيين كلمة المرور</span>
              </button>
            </form>
          </mat-step>
          <mat-step>
            <div class="text-center font-arabic">
              <img
                src="/images/password reset page4.svg"
                alt=""
                class="block mx-auto mb-8"
              />
              <h6 class="text-4xl font-bold text-primary-txt mb-1">عملية ناجحة</h6>
              <span class="block text-sm font-normal text-third-txt"
                >تم تعيين كلمة المرور بنجاح</span
              >

              <a
                routerLink="/auth/login"
                class="w-full mt-9 cursor-pointer flex justify-center font-arabic gap-[10px] py-[9px] px-[24px] rounded-lg font-bold bg-primary-btn text-mainBg-100 transition duration-200 hover:bg-[#0B4632]"
              >
                <span class="inline-block"> الذهاب لصفحة تسجيل الدخول </span>
              </a>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>
</section>
