/* حوار التطعيم فقط */
.dialog-side-effects-container .mat-mdc-dialog-surface {
  background-color: #f9fafb !important;
  padding: 24px !important;
  border-radius: 12px !important;
}

/* أزرار الراديو داخل حوار التطعيم */
.dialog-side-effects-container
  .mat-mdc-radio-button
  .mdc-radio__native-control:enabled:checked
  + .mdc-radio__background
  .mdc-radio__outer-circle,
.dialog-side-effects-container
  .mat-mdc-radio-button
  .mdc-radio__native-control:enabled:checked
  + .mdc-radio__background
  .mdc-radio__inner-circle {
  border-color: #127453 !important;
}

.dialog-side-effects-container
  .mat-mdc-radio-button.mat-mdc-radio-checked
  .mat-ripple-element,
.dialog-side-effects-container
  .mat-mdc-radio-button.mat-mdc-radio-checked
  .mdc-radio__background::before {
  background-color: transparent !important;
}
