<section class="font-arabic">
  <button (click)="close()" class="p-1 block">
    <img src="./icons/close.svg" alt="" class="block w-5 h-5" />
  </button>

  <div class="text-center px-[26px] pb-8 mt-5">
    <div class="mb-3">
      <h4 class="font-bold text-[22px] text-[#121212] mb-2">
        الأعراض الجانبية المتوقعة
      </h4>
    </div>

    <ul class="list-disc list-inside font-semibold">
      <li class="mb-[6px] text-base">الأعراض الجانبية المتوقعة</li>
      <li class="mb-[6px] text-base">الأعراض الجانبية المتوقعة</li>
    </ul>
  </div>
</section>
