<section class="bg-mainBg-200 min-h-screen">
  <div class="container pt-6 pb-5">
    @if (role==='admin') {

    <h3 class="text-2xl font-semibold">مسئولى المحافظات</h3>

    }

    <div class="flex justify-start mb-2 mt-5">
      <a
        class="block bg-primary-bg px-6 py-3 rounded-lg hover:bg-primary-hovbtn transition-colors"
        routerLink="/admins/add-admin"
      >
        <span class="text-white ml-2 text-sm font-bold">إضافة مسئول</span>
        <img class="float-left" src="/icons/lets-icons_user-add.svg" alt="" />
      </a>
    </div>
    <table
      class="w-full text-center text-lg [&_td]:py-3 [&_tbody_tr]:bg-white [&_tbody_td]:border-b border-separate border-spacing-y-2"
    >
      <thead class="bg-primary-bg text-white">
        <tr>
          <td class="rounded-tr-md">الإسم</td>
          <td>{{ role == "admin" ? "المحافظة" : "مركز" }}</td>
          <td>البريد الإلكترونى</td>
          <td class="rounded-tl-md">الإجراءات</td>
        </tr>
      </thead>
      <tbody>
        @for (item of data; track $index) {
        <tr>
          <td>{{ item.firstName }} {{ item.lastName }}</td>
          <td>{{ item.governorate }}</td>
          <td>{{ item.email }}</td>
          <td class="flex justify-center">
            <a [routerLink]="['/admins/edit-admin', item.userId]"
              ><img src="/icons/edit.svg" alt=""
            /></a>
            <!-- <button><img src="/icons/delete.svg" alt="" /></button> -->
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</section>
