<section class="bg-mainBg-200">
  <div class="container pt-20 flex items-center gap-[73px]">
    <div>
      <h1 class="font-bold text-5xl leading-[78px]">
        موقع ادارة <span class="text-primary-bg">تطعيمات الأطفال </span>
      </h1>
      <p class="text-third-txt mt-4 mb-8 text-lg">
        يوفر إبرة أمان رعاية صحية ومتابعة تطعيمات أطفالك ومتاح للجميع عبر
        الإنترنت بكل سهولة
      </p>
      <a
        routerLink="/vaccination-schedule"
        class="border-2 border-primary-btn rounded-[48px] py-3 px-8 text-white font-bold bg-primary-bg hover:bg-primary-hovbtn transition-colors"
        >عرض جدول التطعيمات
      </a>
    </div>
    <div>
      <img src="images/landing.svg" alt="" />
    </div>
  </div>
</section>
<section class="bg-mainBg-200 relative z-[1]">
  <div class="absolute left-0 bottom-36 -z-[1]">
    <img src="images/background-shape.svg" alt="" />
  </div>
  <div class="container py-36">
    <h2
      class="relative font-bold text-4xl text-center pb-4 after:content[''] after:absolute after:bottom-0 after:left-1/2 after:-translate-x-1/2 after:h-0.5 after:w-16 after:bg-black after:rounded-md"
    >
      خدماتنا
    </h2>
    <div class="grid grid-cols-3 gap-10 mt-16">
      <div class="bg-white rounded-[20px] py-12 pr-10 pl-14">
        <img src="images/service_1.svg" alt="" />
        <h4 class="font-bold text-2xl my-5">متابعة التطعيمات</h4>
        <p class="text-third-txt">
          يمكنك متابعة وحجز تطعيمات أطفالك عبر موقعنا
        </p>
      </div>
      <div class="bg-white rounded-[20px] py-12 pr-10 pl-14">
        <img src="images/service_2.svg" alt="" />
        <h4 class="font-bold text-2xl my-5">الإستشارة الطبية</h4>
        <p class="text-third-txt">
          إستشارة مجانية مع أطبائنا الموثوق بهم والحصول على أفضل التوصيات
        </p>
      </div>
      <div class="bg-white rounded-[20px] py-12 pr-10 pl-14">
        <img src="images/service_3.svg" alt="" />
        <h4 class="font-bold text-2xl my-5">البحث عن أقرب وحدة</h4>
        <p class="text-third-txt">
          يمكنك إختيار أقرب وحدة صحية لك من بين الاف الوحدات حول الجمهورية
        </p>
      </div>
      <div class="bg-white rounded-[20px] py-12 pr-10 pl-14">
        <img src="images/service_4.svg" alt="" />
        <h4 class="font-bold text-2xl my-5">التنبيهات</h4>
        <p class="text-third-txt">
          تنبيه عند فتح حجز لقاح لأحد من أطفالك والتنبيه أيضا قبل الميعاد الذى
          تم حجزه
        </p>
      </div>
      <div class="bg-white rounded-[20px] py-12 pr-10 pl-14">
        <img src="images/service_5.svg" alt="" />
        <h4 class="font-bold text-2xl my-5">إدارة عملية التوزيع</h4>
        <p class="text-third-txt">
          إدارة عملية نوزيع التطعيمات فى جميع أنحاء الجمهورية
        </p>
      </div>
    </div>
  </div>
</section>
<section class="bg-[#246a56]">
  <div class="text-center text-white py-10">
    <p class="font-semibold text-2xl mb-10">
      هل تريد إدارة تطعيمات أطفالك بشكل منظم وسهل؟
    </p>
    <a
      routerLink="/auth/register"
      class="bg-white text-primary-btn rounded-lg py-3 px-8 font-bold"
      >إنشاء حساب</a
    >
  </div>
</section>
<section class="bg-mainBg-200">
  <div class="container py-24 px-[90px]">
    <p class="bg-mainBg-300 flex items-center justify-center py-32">
      تطعيمات الأطفال هي جزء أساسي من رعاية الصحة
    </p>
  </div>
</section>
