<section class="bg-mainBg-200 min-h-screen">
  <div class="container pt-12 pb-5">
    <div class="mb-9 text-center">
      <h5 class="font-arabic font-semibold text-4xl mb-3 text-[#151419]">
        إضافة طبيب
      </h5>
      <p class="font-arabic font-semibold text-xl text-[#083425]">
        برجاء إدخال البيانات التالية لإنشاء الحساب
      </p>
    </div>
    <div class="w-[520px] mx-auto">
      <form [formGroup]="addDoctorForm" (ngSubmit)="addDoctor()">
        <div class="flex flex-row gap-5 mb-5">
          <div class="flex-1">
            <label class="block text-xl font-semibold mb-2 mr-2" for="firstName"
              >الإسم الأول</label
            >
            <input
              formControlName="firstName"
              [ngClass]="{
                'border-red-700': firstName?.invalid && firstName?.dirty,
                'border-third-border': firstName?.valid || firstName?.untouched
              }"
              class="block w-full placeholder:text-base placeholder:text-third-txt text-right px-4 py-3 outline-none rounded-lg border-[1.5px] border-third-border"
              type="text"
              name="firstName"
              id="firstName"
              placeholder="الإسم الأول"
            />

            <div
              class="text-red-700 ml-2 font-semibold font-arabic font-base flex items-center gap-1"
              *ngIf="firstName?.invalid && firstName?.dirty"
            >
              <img
                src="./icons/si_warning-fill.svg"
                alt=""
                class="w-4 h-4 mt-[1px]"
              />
              <div>
                <small *ngIf="firstName?.errors?.['required']">
                  أدخل الإسم الأول
                </small>
                <small *ngIf="firstName?.errors?.['pattern']">
                  يجب إدخال الإسم باللغة العربية فقط.
                </small>

                <small
                  *ngIf="!firstName?.errors?.['pattern']  && firstName?.errors?.['minlength']"
                  >يجب أن يكون طول الإسم لا يقل عن 3 حروف.
                </small>
                <small
                  *ngIf="!firstName?.errors?.['pattern']  && firstName?.errors?.['maxlength']"
                >
                  يجب أن يكون طول الإسم لا يتعدى 20 حرف.
                </small>
              </div>
            </div>
          </div>

          <div class="flex-1">
            <label
              class="block text-xl font-semibold mb-2 mr-2"
              for="secondName"
              >الإسم الثانى</label
            >
            <input
              formControlName="secondName"
              [ngClass]="{
                'border-red-700': secondName?.invalid && secondName?.dirty,
                'border-third-border':
                  secondName?.valid || secondName?.untouched
              }"
              class="block w-full placeholder:text-base placeholder:text-third-txt text-right px-4 py-3 outline-none rounded-lg border border-third-border"
              type="text"
              name="secondName"
              id="secondName"
              placeholder="إسم العائلة"
            />

            <div
              class="text-red-700 ml-2 font-semibold font-arabic font-base flex items-center gap-x-1"
              *ngIf="secondName?.invalid && secondName?.dirty"
            >
              <img
                src="./icons/si_warning-fill.svg"
                alt=""
                class="w-4 h-4 mt-[1px]"
              />
              <div>
                <small *ngIf="secondName?.errors?.['required']">
                  أدخل الإسم الثانى
                </small>
                <small *ngIf="secondName?.errors?.['pattern']">
                  يجب إدخال الإسم باللغة العربية فقط.
                </small>

                <small
                  *ngIf="!secondName?.errors?.['pattern']  && secondName?.errors?.['minlength']"
                  >يجب أن يكون طول الإسم لا يقل عن 3 حروف.
                </small>
                <small
                  *ngIf="!secondName?.errors?.['pattern']  && secondName?.errors?.['maxlength']"
                >
                  يجب أن يكون طول الإسم لا يتعدى 20 حرف.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-4">
          <label class="block text-xl font-semibold mb-2 mr-2" for="email"
            >البريد الإلكتروني</label
          >
          <div class="relative">
            <input
              formControlName="email"
              [ngClass]="{
                'border-red-700': email?.invalid && email?.dirty,
                'border-third-border': email?.valid || email?.untouched
              }"
              type="email"
              name="email"
              id="email"
              placeholder="someone@example.com"
              class="placeholder:text-right w-full py-3 px-10 border rounded-lg outline-none border-third-border placeholder:text-third-txt placeholder:text-base"
            />
            <img
              class="absolute right-4 top-1/2 -translate-y-1/2 text-sm"
              src="icons/tabler_mail.svg"
              alt=""
            />
          </div>
          <div
            class="text-red-700 ml-2 font-semibold font-arabic font-base flex items-center gap-1"
            *ngIf="email?.invalid && email?.dirty"
          >
            <img
              src="./icons/si_warning-fill.svg"
              alt=""
              class="w-4 h-4 mt-[1px]"
            />
            <div>
              <small *ngIf="email?.errors?.['required']">
                أدخل البريد الإلكتروني.
              </small>
              <small *ngIf="email?.errors?.['email']">
                الرجاء إدخال عنوان بريد إلكتروني صحيح (مثل
                name&#64;example.com).
              </small>
            </div>
          </div>
        </div>
        <div class="mb-4 flex-1 font-arabic">
          <div class="relative">
            <select
              formControlName="medicalCenter"
              [ngClass]="{
                'border-red-700':
                  medicalCenter?.invalid &&
                  (medicalCenter?.touched || medicalCenter?.dirty),
                'border-third-border':
                  medicalCenter?.valid || medicalCenter?.untouched
              }"
              class="w-full text-third-txt px-3 py-4 rounded-md border border-third-border appearance-none text-right outline-none cursor-pointer"
              name="center"
              id="center"
            >
              <option value="" disabled>إختر مركز طبى</option>
              <option value="المنيا">المنيا</option>
              <option value="ابو قرقاص">ابو قرقاص</option>
            </select>
            <img
              class="block absolute top-1/2 -translate-y-[calc(50%+1.5px)] left-6 cursor-pointer"
              src="icons/Caret Down.svg"
              alt=""
            />
          </div>
          <div
            class="text-red-700 ml-2 font-semibold font-arabic font-base flex items-center gap-1"
            *ngIf="
              medicalCenter?.invalid &&
              (medicalCenter?.touched || medicalCenter?.dirty)
            "
          >
            <img
              src="./icons/si_warning-fill.svg"
              alt=""
              class="w-4 h-4 mt-[1px]"
            />
            <div>
              <small *ngIf="medicalCenter?.errors?.['required']">
                يجب إختيار المركز الطبي.
              </small>
            </div>
          </div>
        </div>
        <div class="mb-4">
          <label class="block text-xl font-semibold mb-2 mr-2" for="password"
            >كلمة المرور</label
          >
          <div class="relative">
            <input
              formControlName="password"
              [ngClass]="{
                'border-red-700': password?.invalid && password?.dirty,
                'border-third-border': password?.valid || password?.untouched
              }"
              [type]="showPassword ? 'text' : 'password'"
              name="password"
              id="password"
              placeholder="أدخل كلمة المرور"
              class="placeholder:font-arabic w-full py-3 px-10 border rounded text-right outline-none placeholder:text-third-txt placeholder:text-base"
            />
            <img
              class="absolute right-4 top-1/2 -translate-y-[calc(50%+3px)] text-sm"
              src="icons/humbleicons_lock.svg"
              alt=""
            />

            <img
              (click)="togglePassword()"
              class="absolute left-4 top-1/2 -translate-y-1/2 text-lg cursor-pointer"
              src="icons/ri_eye-off-line.svg"
              alt=""
            />
          </div>

          <div
            class="text-red-700 ml-2 font-semibold font-arabic font-base flex items-center gap-1"
            *ngIf="password?.invalid && password?.dirty"
          >
            <img
              src="./icons/si_warning-fill.svg"
              alt=""
              class="w-4 h-4 mt-[1px]"
            />
            <div>
              <small *ngIf="password?.errors?.['required']">
                يجب إدخال كلمه مرور.
              </small>
              <small *ngIf="password?.errors?.['minlength']">
                يجب أن كلمة مرور لا تقل عن 8 أحرف ويجب أن تحتوى على حرف ورقم على
                الأقل.
              </small>
            </div>
          </div>
        </div>
        <div class="mb-4">
          <label
            class="block text-xl font-semibold mb-2 mr-2"
            for="confirm_password"
          >
            تأكيد كلمة المرور
          </label>
          <div class="relative">
            <input
              formControlName="confirmPassword"
              [ngClass]="{
                'border-red-700':
                  confirmPassword?.invalid && confirmPassword?.dirty,
                'border-third-border':
                  confirmPassword?.valid || confirmPassword?.untouched
              }"
              [type]="showConfirmPassword ? 'text' : 'password'"
              name="confirm_password"
              id="confirm_password"
              placeholder="أعد كتابة كلمة المرور"
              class="placeholder:font-arabic w-full py-3 px-10 border rounded text-right outline-none placeholder:text-third-txt placeholder:text-base"
            />
            <img
              class="absolute right-4 top-1/2 -translate-y-[calc(50%+3px)] text-sm"
              src="icons/humbleicons_lock.svg"
              alt=""
            />
            <img
              (click)="toggleConfirmPassword()"
              class="absolute left-4 top-1/2 -translate-y-1/2 text-lg cursor-pointer"
              src="icons/ri_eye-off-line.svg"
              alt=""
            />
          </div>

          <div
            class="text-red-700 ml-2 font-semibold font-arabic font-base flex items-center gap-1"
            *ngIf="confirmPassword?.dirty && (confirmPassword?.errors?.['required'] || addDoctorForm?.errors?.['unMatchedPassword'])"
          >
            <img
              src="./icons/si_warning-fill.svg"
              alt=""
              class="w-4 h-4 mt-[1px]"
            />
            <div>
              <small *ngIf="confirmPassword?.errors?.['required']">
                هذه الخانة مطلوبة.
              </small>
              <small
                *ngIf="( addDoctorForm?.errors?.['unMatchedPassword'] &&  !confirmPassword?.errors?.['required'] )"
              >
                كلمتان المرور غير متطابقتان .
              </small>
            </div>
          </div>
        </div>

        <div class="flex justify-between mt-9 font-arabic">
          <button
            (click)="goBack()"
            class="flex items-center justify-center gap-2 text-base font-semibold bg-[#151419] text-mainBg-100 px-6 py-[9px] rounded-lg transition duration-200 hover:opacity-80"
            role="button"
          >
            رجوع
          </button>

          <button
            type="submit"
              [disabled]="addDoctorForm.invalid"
            class="disabled:opacity-35 disabled:cursor-not-allowed cursor-pointer flex font-arabic gap-2 py-[9px] px-6 rounded-lg font-bold bg-primary-btn text-mainBg-100 transition duration-200 hover:bg-[#0B4632]"
          >
            إنشاء حساب
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
