<section class="bg-mainBg-200 min-h-screen">
  <div class="container pt-6 pb-5">
    <h3 class="text-[28px] font-semibold text-[#151419]">لوحة التحكم</h3>
    <div class="grid grid-cols-2 md:grid-cols-5 gap-6 mt-5">
      <div class="bg-white p-4">
        <h6 class="text-[#6B7280] font-semibold">عدد الوحدات الصحية</h6>
        <span class="block text-[#151419] text-[22px] font-semibold">
          {{ data.healthCareUnits }}
        </span>
      </div>

      <div class="bg-white p-4">
        <h6 class="text-[#6B7280] font-semibold">عدد الأطفال المسجلة</h6>
        <span class="block text-[#151419] text-[22px] font-semibold">
          {{ data.registeredChildren }}
        </span>
      </div>
      <div class="bg-white p-4">
        <h6 class="text-[#6B7280] font-semibold">
          عدد الأطفال الحاصلة على جميع التطعيمات
        </h6>
        <span class="block text-[#151419] text-[22px] font-semibold">
          {{ data.fullyVaccinatedChildren }}
        </span>
      </div>
      <div class="bg-white p-4">
        <h6 class="text-[#6B7280] font-semibold">عدد اللقاحات المأخوذة</h6>
        <span class="block text-[#151419] text-[22px] font-semibold">
          {{ data.totalVaccinesTaken }}
        </span>
      </div>
      <div class="bg-white p-4">
        <h6 class="text-[#6B7280] font-semibold">عدد الشكاوى</h6>
        <span class="block text-[#151419] text-[22px] font-semibold">
          {{ data.totalComplaints }}
        </span>
      </div>
    </div>

    <div class="flex items-start gap-6 mt-5">
      <div class="bg-white p-4 pb-0 flex-1 rounded-lg scroll-container">
        <table
          class="min-w-full overflow-x-auto text-lg text-center [&_tbody_tr]:bg-white [&_td]:px-6 [&_td]:py-3 [&_thead_td]:text-[#8E98A8] [&_thead_td]:text-sm [&_tbody_td]text-[#151419] font-semibold"
        >
          <thead>
            <tr>
              <td
                scope="col"
                class="border-b-2 border-third-border sticky top-0 bg-white"
              >
                المحافظة
              </td>
              <td
                scope="col"
                class="border-b-2 border-third-border sticky top-0 bg-white"
              >
                عدد المراكز
              </td>
              <td
                scope="col"
                class="border-b-2 border-third-border sticky top-0 bg-white"
              >
                عدد الوحدات الصحية
              </td>
              <td
                scope="col"
                class="border-b-2 border-third-border sticky top-0 bg-white"
              >
                عدد اللقاحات المستهلكة
              </td>
            </tr>
          </thead>
          <tbody>
            @for (item of data.governoratesReport; track $index) {
            <tr>
              <td class="border-b-2 border-third-border">
                {{ item.governorate }}
              </td>
              <td class="border-b-2 border-third-border">
                {{ item.cityCount }}
              </td>
              <td class="border-b-2 border-third-border">
                {{ item.healthUnitCount }}
              </td>
              <td class="border-b-2 border-third-border">
                {{ item.vaccinesTaken }}
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>

      <div class="bg-white p-4 w-60 rounded-lg">
        <h6 class="text-[#151419] font-semibold text-xl text-center mb-6">
          الأطفال المسجلين
        </h6>
        <canvas
          baseChart
          [data]="pieChartData"
          [type]="pieChartType"
          [options]="pieChartOptions"
        >
        </canvas>
      </div>
    </div>

    <div class="flex gap-4">
      <div class="flex-1 mt-5 text-[#151419] bg-white p-4 rounded-lg">
        <h6 class="mb-5 text-xl font-semibold">عدد اللقاحات المطلوبة</h6>
        <canvas
          baseChart
          [data]="barChartData1"
          [options]="barChartOptions1"
          [type]="barChartType"
        >
        </canvas>
      </div>
      <div class="flex-1 mt-5 text-[#151419] bg-white p-4 rounded-lg">
        <h6 class="mb-5 text-xl font-semibold">
          المحافظات الأكثر طلباً للقاحات
        </h6>
        <canvas
          baseChart
          [data]="barChartData2"
          [options]="barChartOptions2"
          [type]="barChartType"
        >
        </canvas>
      </div>
    </div>
  </div>
</section>
