<section class="bg-mainBg-200 min-h-screen">
  <div class="container pt-6 pb-5">
    <h3 class="text-[28px] font-semibold mb-4">المحافظات</h3>
    <a routerLink="/health-ministry/governorates" class="block mb-6">
      الصفحة الرئيسية
    </a>

    <ul class="flex gap-4 flex-wrap">
      @for (item of governoratesList; track $index) {

      <li>
        <a
        [routerLink]="['/health-ministry/governorates/governorate',item]"
          
          class="w-[210px] h-36 flex justify-center items-center py-14 px-4 overflow-hidden text-ellipsis bg-white border border-third-border rounded-lg text-center text-xl font-semibold cursor-pointer hover:bg-primary-hov transition-colors duration-200"
        >
          <p class="break-words line-clamp-2">{{ item }}</p>
        </a>
      </li>
      }
    </ul>
  </div>
</section>
