<div class="container bg-white p-8 text-center">
  <h4 class="font-bold text-[22px] text-[#121212] mb-6">
    يرجى إتمام عملية الدفع للوصول إلى هذه الميزة.
  </h4>
  <div class="flex items-center gap-5 justify-center">
    <button
      (click)="confirm()"
      class="hover:shadow-form rounded-md bg-primary-btn py-3 px-8 text-center text-base font-semibold text-white outline-none"
    >
      الذهاب إلى الدفع
    </button>
    <button
      (click)="ignore()"
      class="hover:shadow-form rounded-md bg-error py-3 px-8 text-center text-base font-semibold text-white outline-none"
    >
      إلغاء
    </button>
  </div>
</div>
