<section class="bg-mainBg-200 min-h-screen">
  <div class="container pt-6">
    <h3 class="text-[28px] font-semibold text-[#51419]">أطفالى</h3>
    <div class="mt-16 max-w-[850px] mx-auto">
      <ul class="space-y-4">
        <li
          class="bg-white rounded-t-md flex justify-between items-center px-6 py-[11px]"
        >
          <h6 class="text-lg font-semibold text-[#151419]">إسم الطفل</h6>
          <div class="flex gap-2">
            <a
              routerLink="/parent/my-children/child-vaccine-schedule"
              matTooltip="جدول تطعيمات الطفل"
              matTooltipClass="my-children-home-page-tooltip-style"
              matTooltipPosition="above"
            >
              <img src="/icons/mdi_table-clock.svg" alt="" />
            </a>
            <a
              routerLink="/parent/my-children/child-edit-profile"
              matTooltip="تعديل الملف الشخصي للطفل"
              matTooltipClass="my-children-home-page-tooltip-style"
              matTooltipPosition="above"
            >
              <img src="/icons/edit.svg" alt="" />
            </a>
          </div>
        </li>
        <li
          class="bg-white rounded-t-md flex justify-between items-center px-6 py-[11px]"
        >
          <h6 class="text-lg font-semibold text-[#151419]">إسم الطفل</h6>
          <div class="flex gap-2">
            <a
              routerLink="/parent/my-children/child-vaccine-schedule"
              matTooltip="جدول تطعيمات الطفل"
              matTooltipClass="my-children-home-page-tooltip-style"
              matTooltipPosition="above"
            >
              <img src="/icons/mdi_table-clock.svg" alt="" />
            </a>
            <a
              routerLink="/parent/my-children/child-edit-profile"
              matTooltip="تعديل الملف الشخصي للطفل"
              matTooltipClass="my-children-home-page-tooltip-style"
              matTooltipPosition="above"
            >
              <img src="/icons/edit.svg" alt="" />
            </a>
          </div>
        </li>
        <li
          class="bg-white rounded-t-md flex justify-between items-center px-6 py-[11px]"
        >
          <h6 class="text-lg font-semibold text-[#151419]">إسم الطفل</h6>
          <div class="flex gap-2">
            <a
              routerLink="/parent/my-children/child-vaccine-schedule"
              matTooltip="جدول تطعيمات الطفل"
              matTooltipClass="my-children-home-page-tooltip-style"
              matTooltipPosition="above"
            >
              <img src="/icons/mdi_table-clock.svg" alt="" />
            </a>
            <a
              routerLink="/parent/my-children/child-edit-profile"
              matTooltip="تعديل الملف الشخصي للطفل"
              matTooltipClass="my-children-home-page-tooltip-style"
              matTooltipPosition="above"
            >
              <img src="/icons/edit.svg" alt="" />
            </a>
          </div>
        </li>
        <li
          class="bg-white rounded-t-md flex justify-between items-center px-6 py-[11px]"
        >
          <h6 class="text-lg font-semibold text-[#151419]">إسم الطفل</h6>
          <div class="flex gap-2">
            <a
              routerLink="/parent/my-children/child-vaccine-schedule"
              matTooltip="جدول تطعيمات الطفل"
              matTooltipClass="my-children-home-page-tooltip-style"
              matTooltipPosition="above"
            >
              <img src="/icons/mdi_table-clock.svg" alt="" />
            </a>
            <a
              routerLink="/parent/my-children/child-edit-profile"
              matTooltip="تعديل الملف الشخصي للطفل"
              matTooltipClass="my-children-home-page-tooltip-style"
              matTooltipPosition="above"
            >
              <img src="/icons/edit.svg" alt="" />
            </a>
          </div>
        </li>
        <li
          class="bg-white rounded-t-md flex justify-between items-center px-6 py-[11px]"
        >
          <h6 class="text-lg font-semibold text-[#151419]">إسم الطفل</h6>
          <div class="flex gap-2">
            <a
              routerLink="/parent/my-children/child-vaccine-schedule"
              matTooltip="جدول تطعيمات الطفل"
              matTooltipClass="my-children-home-page-tooltip-style"
              matTooltipPosition="above"
            >
              <img src="/icons/mdi_table-clock.svg" alt="" />
            </a>
            <a
              routerLink="/parent/my-children/child-edit-profile"
              matTooltip="تعديل الملف الشخصي للطفل"
              matTooltipClass="my-children-home-page-tooltip-style"
              matTooltipPosition="above"
            >
              <img src="/icons/edit.svg" alt="" />
            </a>
          </div>
        </li>
      </ul>

      <a
        routerLink="/parent/my-children/add-child"
        class="cursor-pointer mt-8 w-fit flex mx-auto font-arabic gap-[10px] py-[9px] px-[24px] rounded-lg font-bold bg-primary-btn text-mainBg-100 transition duration-200 hover:bg-[#0B4632]"
      >
        <span class="inline-block"> إضافة طفل</span>
        <img src="/icons/lets-icons_user-add.svg" alt="" />
      </a>
    </div>
  </div>
</section>
