<section class="bg-mainBg-200 min-h-screen">
  <div class="container pt-6 pb-5">
    <div class="mx-auto text-center">
      <h6 class="text-4xl font-semibold mt-16">إضافة وحدة صحية</h6>
      <p class="text-primary-txt100 text-xl font-semibold mt-3">
        برجاء إدخال البيانات التالية لإضافة الوحدة
      </p>

      <div class="max-w-[520px] mt-8 mx-auto">
        <form [formGroup]="addUnitForm" (ngSubmit)="addUnit()">
          <div class="text-right">
            <div class="mb-6">
              <div>
                <label
                  class="block text-xl font-semibold mb-2 mr-4"
                  for="unitName"
                  >الإسم</label
                >
                <input
                  class="block w-full placeholder:text-lg placeholder:text-third-txt px-4 py-3 outline-none rounded-lg border border-third-border"
                  type="text"
                  formControlName="healthUnitName"
                  name="unitName"
                  id="unitName"
                  placeholder="أدخل إسم الوحدة الصحية"
                />
              </div>
              <div
                class="text-red-700 ml-2 font-semibold font-arabic font-base flex items-center gap-1"
                *ngIf="healthUnitName?.invalid && healthUnitName?.dirty"
              >
                <img
                  src="./icons/si_warning-fill.svg"
                  alt=""
                  class="w-4 h-4 mt-[1px]"
                />

                <small *ngIf="healthUnitName?.errors?.['required']">
                  يجب إدخال الوحدة الصحية.
                </small>
              </div>
            </div>

            <div formGroupName="LocationOfHealthUnit" class="mb-4">
              <label class="block text-xl font-semibold mb-2 mr-4"
                >موقع الوحدة</label
              >
              <div class="grid grid-cols-2 gap-4">
                <div class="mb-4 flex-1 font-arabic">
                  <div class="relative">
                    <select
                      formControlName="city"
                      [ngClass]="{
                        'border-red-700':
                          city?.invalid && (city?.touched || city?.dirty),
                        'border-third-border': city?.valid || city?.untouched
                      }"
                      class="w-full text-third-txt px-3 py-4 rounded-md border border-third-border appearance-none text-right outline-none cursor-pointer"
                      name="city"
                      id="city"
                    >
                      <option value="" disabled>إختر محافظة</option>
                      @for (item of egyptGovernorates; track $index) {

                      <option [value]="item">{{ item }}</option>

                      }
                    </select>

                    <img
                      class="block absolute top-1/2 -translate-y-[calc(50%+1.5px)] left-6 cursor-pointer"
                      src="icons/Caret Down.svg"
                      alt=""
                    />
                  </div>
                  <div
                    class="text-red-700 ml-2 font-semibold font-arabic font-base flex items-center gap-1"
                    *ngIf="city?.invalid && (city?.touched || city?.dirty)"
                  >
                    <img
                      src="./icons/si_warning-fill.svg"
                      alt=""
                      class="w-4 h-4 mt-[1px]"
                    />
                    <div>
                      <small *ngIf="city?.errors?.['required']">
                        يجب إختيار المحافظة .
                      </small>
                    </div>
                  </div>
                </div>
                <div class="mb-4 flex-1 font-arabic">
                  <div class="relative">
                    <select
                      formControlName="center"
                      [ngClass]="{
                        'border-red-700':
                          center?.invalid && (center?.touched || center?.dirty),
                        'border-third-border':
                          center?.valid || center?.untouched
                      }"
                      class="w-full text-third-txt px-3 py-4 rounded-md border border-third-border appearance-none text-right outline-none cursor-pointer"
                      name="center"
                      id="center"
                    >
                      <option value="" disabled>إختر المركز</option>
                      @for (item of egyptCityCenter; track $index) {
                      <option [value]="item">{{ item }}</option>
                      }
                    </select>

                    <img
                      class="block absolute top-1/2 -translate-y-[calc(50%+1.5px)] left-6 cursor-pointer"
                      src="icons/Caret Down.svg"
                      alt=""
                    />
                  </div>
                  <div
                    class="text-red-700 ml-2 font-semibold font-arabic font-base flex items-center gap-1"
                    *ngIf="
                      center?.invalid && (center?.touched || center?.dirty)
                    "
                  >
                    <img
                      src="./icons/si_warning-fill.svg"
                      alt=""
                      class="w-4 h-4 mt-[1px]"
                    />
                    <div>
                      <small *ngIf="center?.errors?.['required']">
                        يجب إختيار مركز .
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-6">
                <div>
                  <label
                    class="block text-xl font-semibold mb-2 mr-4"
                    for="village"
                  >
                    إسم القرية /المنطقة
                  </label>
                  <input
                    class="block w-full placeholder:text-lg placeholder:text-third-txt px-4 py-3 outline-none rounded-lg border border-third-border"
                    type="text"
                    formControlName="village"
                    name="village"
                    id="village"
                    placeholder="إسم قرية الوحدة الصحية"
                  />
                </div>
                <div
                  class="text-red-700 ml-2 font-semibold font-arabic font-base flex items-center gap-1"
                  *ngIf="village?.invalid && village?.dirty"
                >
                  <img
                    src="./icons/si_warning-fill.svg"
                    alt=""
                    class="w-4 h-4 mt-[1px]"
                  />

                  <small *ngIf="village?.errors?.['required']">
                    يجب إسم قرية الوحدة الصحية.
                  </small>
                </div>
              </div>
            </div>

            <div formGroupName="WorkDays" class="mb-4">
              <label
                class="block text-xl font-semibold mb-2 mr-4"
                for="workDays"
                >أيام العمل</label
              >
              <div class="grid grid-cols-2 gap-4">
                <div>
                  <div class="relative">
                    <select
                      [ngClass]="{
                        'border-red-700':
                          firstDay?.invalid && firstDay?.touched,
                        'border-third-border':
                          firstDay?.valid || firstDay?.untouched
                      }"
                      formControlName="firstDay"
                      class="w-full text-third-txt px-3 py-4 rounded-lg border border-third-border appearance-none text-right outline-none cursor-pointer"
                      name="firstDay"
                      id="firstDay"
                    >
                      <option value="" disabled>اليوم الأول</option>
                      <option value="Saturday">السبت</option>
                      <option value="Sunday">الاحد</option>
                      <option value="Monday">الاثنين</option>
                      <option value="Tuesday">الثلاثاء</option>
                      <option value="Wednesday">الاربعاء</option>
                      <option value="Thursday">الخميس</option>
                    </select>

                    <img
                      class="block absolute top-1/2 -translate-y-1/2 left-6 cursor-pointer"
                      src="/icons/Caret Down.svg"
                      alt=""
                    />
                  </div>

                  <div
                    class="text-red-700 ml-2 font-semibold font-arabic font-base flex items-center gap-1"
                    *ngIf="
                      firstDay?.invalid &&
                      (firstDay?.touched || firstDay?.dirty)
                    "
                  >
                    <img
                      src="./icons/si_warning-fill.svg"
                      alt=""
                      class="w-4 h-4 mt-[1px]"
                    />
                    <div>
                      <small *ngIf="firstDay?.errors?.['required']">
                        يجب إختيار أيام عمل الوحدة .
                      </small>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="relative">
                    <select
                      [ngClass]="{
                        'border-red-700':
                          secondDay?.invalid && secondDay?.touched,
                        'border-third-border':
                          secondDay?.valid || secondDay?.untouched
                      }"
                      formControlName="secondDay"
                      class="w-full text-third-txt px-3 py-4 rounded-lg border border-third-border appearance-none text-right outline-none cursor-pointer"
                      name="secondDay"
                      id="secondDay"
                    >
                      <option value="" disabled>اليوم الثانى</option>
                      <option value="Saturday">السبت</option>
                      <option value="Sunday">الاحد</option>
                      <option value="Monday">الاثنين</option>
                      <option value="Tuesday">الثلاثاء</option>
                      <option value="Wednesday">الاربعاء</option>
                      <option value="Thursday">الخميس</option>
                    </select>

                    <img
                      class="block absolute top-1/2 -translate-y-1/2 left-6 cursor-pointer"
                      src="/icons/Caret Down.svg"
                      alt=""
                    />
                  </div>
                  <div
                    class="text-red-700 ml-2 font-semibold font-arabic font-base flex items-center gap-1"
                    *ngIf="
                      secondDay?.invalid &&
                      (secondDay?.touched || secondDay?.dirty)
                    "
                  >
                    <img
                      src="./icons/si_warning-fill.svg"
                      alt=""
                      class="w-4 h-4 mt-[1px]"
                    />
                    <div>
                      <small *ngIf="secondDay?.errors?.['required']">
                        يجب إختيار أيام عمل الوحدة .
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex justify-between mt-8">
            <button
              (click)="goBack()"
              type="button"
              class="block bg-black px-6 py-3 rounded-lg hover:bg-opacity-80 transition-colors"
            >
              <span class="text-white ml-2 text-[16px]">رجوع</span>
            </button>

            <button
              *ngIf="addUnitForm.valid"
              class="block bg-primary-bg px-6 py-3 rounded-lg hover:bg-primary-hovbtn transition-colors"
            >
              <span class="text-white ml-2 text-[16px]">إضافة وحدة</span>
              <img
                class="float-left"
                src="/icons/lets-icons_user-add.svg"
                alt=""
              />
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
