<section class="min-h-screen font-arabic bg-mainBg-200">
  <div class="flex" *ngIf="data">
    <div class="flex-1 pt-6 pb-5 container">
      <h4 class="text-[28px] font-semibold text-[#51419]">
        مراكز محافظة {{ data.governorate }}
      </h4>

      <div class="flex items-center gap-1 mt-3">
        <a [routerLink]="['/health-ministry/governorates']">الصفحة الرئيسية</a>
        <img
          src="/icons/Caret Down.svg"
          alt=""
          class="rotate-90 h-3 w-3 mt-[6px]"
        />
        <a
          [routerLink]="[
            '/health-ministry/governorates/governorate',
            governorateName
          ]"
        >
          محافظة {{ data.governorate }}
        </a>
      </div>

      <ul class="flex gap-4 flex-wrap mt-6">
        <li *ngFor="let item of data.cities; index as i">
          <a
            [routerLink]="['/health-ministry/governorates/center', item]"
            class="w-[188px] h-36 flex justify-center items-center py-14 px-4 overflow-hidden text-ellipsis bg-white border border-third-border rounded-lg text-center text-xl font-semibold cursor-pointer hover:bg-primary-hov transition-colors duration-200"
          >
            <p class="break-words line-clamp-2">مركز {{ item }}</p>
          </a>
        </li>
      </ul>

      <button
        (click)="goBack()"
        class="flex gap-x-2 mt-8 mx-auto w-fit bg-black text-white py-2 px-6 rounded-lg cursor-pointer hover:bg-opacity-80 transition-colors"
      >
        <img src="/icons/streamline_emergency-exit.svg" alt="" />
        <span class="font-bold text-sm">رجوع</span>
      </button>
    </div>

    <div
      class="w-[313px] min-h-screen bg-white p-6 border-t border-r border-third-border"
    >
      <h6 class="mb-6 font-semibold text-lg">محافظة {{ data.governorate }}</h6>

      <div>
        <div class="mb-6">
          <img class="inline" src="/icons/health-ministry.svg" alt="" />
          <span class="mr-1 text-third-txt font-normal">المسئول</span>
          <p class="font-semibold mt-1">
            {{ data.firstName }} {{ data.lastName }}
          </p>
        </div>

        <div class="mb-6">
          <img class="inline" src="/icons/fluent_call-28-filled.svg" alt="" />
          <span class="mr-1 text-third-txt font-normal">البريد الأكتروني</span>
          <p class="font-semibold mt-1">{{ data.email }}</p>
        </div>

        <div class="mb-6">
          <span class="mr-1 text-third-txt font-normal">عدد المراكز</span>
          <p class="font-semibold mt-1">{{ data.cityCounts }}</p>
        </div>

        <div class="mb-6">
          <span class="mr-1 text-third-txt font-normal">
            عدد الوحدات الصحية
          </span>
          <p class="font-semibold mt-1">{{ data.healthCareCount }}</p>
        </div>
      </div>

      <div>
        <p class="text-third-txt rounded-lg font-normal mb-2">مخزون اللقاحات</p>
        <div class="border rounded-lg">
          <div class="flex justify-between bg-primary-table rounded-t-lg py-2">
            <p class="pr-6">إسم اللقاح</p>
            <p class="pl-6">العدد</p>
          </div>

          <div
            *ngFor="let item of data.mainInventories; index as i"
            class="flex justify-between bg-primary-table py-2"
          >
            <p class="pr-6">{{ item.antigen }}</p>
            <p class="pl-6">{{ item.amount }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
