<footer class="bg-primary-txt200 py-16">
  <div class="container flex gap-[304px] mb-10">
    <div>
      <h2 class="text-white text-2xl mb-4">
        <a routerLink="/home"> إبرة أمان</a>
      </h2>
      <p class="text-white/60">إدارة تطعيمات الأطفال بكل <br />سهولة ويسر.</p>
    </div>
    <div class="grid grid-cols-3 gap-16">
      <div class="text-white text-lg">
        <a routerLink="/home" class="block mb-2">الصفحة الرئيسية</a>
        <a routerLink="/vaccination-schedule" class="block mb-2"
          >جدول التطعيمات</a
        >
        <a routerLink="/contact-us" class="block mb-2">تواصل معنا</a>
      </div>
      <div>
        <p class="text-white/60 text-lg mb-2">تواصل معنا على:</p>
        <p class="text-white text-lg mb-2">
          <span>hello&#64;ebrataman.com</span>
        </p>
      </div>
      <div>
        <p class="text-white/60 text-lg mb-2">تابعنا على:</p>
        <div class="flex gap-3 items-center">
          <a href="https://www.facebook.com/" target="_blank"
            ><img src="icons/Facebook.svg" alt=""
          /></a>
          <a href="https://x.com/" target="_blank"
            ><img src="icons/Twitter.svg" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center gap-1 text-center text-white/60 text-lg">
    <span class="order-2"> 2025&#169;</span>
    <span class="order-1">EbratAman. All rights reserved</span>
  </div>
</footer>
