<section class="font-arabic">
  <button (click)="close()" class="p-1 block">
    <img src="./icons/close.svg" alt="" class="block w-5 h-5" />
  </button>

  <div class="text-center px-[26px] pb-8 mt-5">
    <h4 class="mb-4 font-bold text-[22px] text-[#121212]">
      حجز موعد تطعيم الجرعة {{ data.vaccineName }}
    </h4>

    <div class="flex flex-col gap-2">
      <h6 class="font-semibold text-xl text-[#121212]">
        إختر اليوم المناسب لك
      </h6>
      <mat-radio-group
        [(ngModel)]="selectedDay"
        aria-label="Select an option"
        style="display: flex; flex-direction: column"
      >
        <mat-radio-button [value]="bookingDate?.firstDay"
          >{{ bookingDate?.firstDayAr }}
        </mat-radio-button>
        <mat-radio-button [value]="bookingDate?.secondDay">{{
          bookingDate?.secondDayAr
        }}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="mx-auto flex items-center justify-center gap-6 w-fit">
    <button

      (click)="bookAppointment()"
      
      class="mx-auto block cursor-pointer py-[11px] px-6 rounded-lg text-sm font-bold bg-primary-btn text-mainBg-100 transition duration-200 hover:bg-[#0B4632]"
    >
      <span>
        {{ data.bookingExists ? "تعديل" : "حجز" }}
      </span>
    </button>

    <button
      *ngIf="!data.bookingExists"
      (click)="deleteAppointment()"
      class="mx-auto w-fit cursor-pointer flex font-arabic gap-2 py-[11px] px-[24px] rounded-lg font-bold bg-error text-mainBg-100 transition duration-200 hover:bg-errorHov"
    >
      <span class="inline- text-sm"> ألغاء الحجز</span>
    </button>
  </div>
</section>
