<section class="bg-mainBg-200 min-h-screen">
  <div class="container pt-6 pb-5">
    <h3 class="text-[28px] font-semibold mb-4">الوحدات</h3>
    <div class="flex justify-between items-center mb-4">
      <a routerLink="/city-center-admin/units" class="block">
        الصفحة الرئيسية
      </a>

      <a
        routerLink="/city-center-admin/units/add-unit"
        class="block bg-primary-bg px-6 py-3 rounded-lg hover:bg-primary-hovbtn transition-colors"
      >
        <span class="text-white ml-2 text-[16px]">إضافة وحدة</span>
        <img class="float-left" src="/icons/lets-icons_user-add.svg" alt="" />
      </a>
    </div>
    <ul class="flex gap-4 flex-wrap">
      <li>
        <a
          routerLink="/city-center-admin/units/health-unit"
          class="w-[210px] h-36 flex justify-center items-center py-14 px-4 overflow-hidden text-ellipsis bg-white border border-third-border rounded-lg text-center text-xl font-semibold cursor-pointer hover:bg-primary-hov transition-colors duration-200"
        >
          <p class="break-words line-clamp-2">إسم الوحدة الصحية</p>
        </a>
      </li>
      <li>
        <a
          routerLink="/city-center-admin/units/health-unit"
          class="w-[210px] h-36 flex justify-center items-center py-14 px-4 overflow-hidden text-ellipsis bg-white border border-third-border rounded-lg text-center text-xl font-semibold cursor-pointer hover:bg-primary-hov transition-colors duration-200"
        >
          <p class="break-words line-clamp-2">الوحدة الصحية بقرية البرجاية</p>
        </a>
      </li>
      <li>
        <a
          routerLink="/city-center-admin/units/health-unit"
          class="w-[210px] h-36 flex justify-center items-center py-14 px-4 overflow-hidden text-ellipsis bg-white border border-third-border rounded-lg text-center text-xl font-semibold cursor-pointer hover:bg-primary-hov transition-colors duration-200"
        >
          <p class="break-words line-clamp-2">إسم الوحدة الصحية</p>
        </a>
      </li>
      <li>
        <a
          routerLink="/city-center-admin/units/health-unit"
          class="w-[210px] h-36 flex justify-center items-center py-14 px-4 overflow-hidden text-ellipsis bg-white border border-third-border rounded-lg text-center text-xl font-semibold cursor-pointer hover:bg-primary-hov transition-colors duration-200"
        >
          <p class="break-words line-clamp-2">إسم الوحدة الصحية</p>
        </a>
      </li>
      <li>
        <a
          routerLink="/city-center-admin/units/health-unit"
          class="w-[210px] h-36 flex justify-center items-center py-14 px-4 overflow-hidden text-ellipsis bg-white border border-third-border rounded-lg text-center text-xl font-semibold cursor-pointer hover:bg-primary-hov transition-colors duration-200"
        >
          <p class="break-words line-clamp-2">إسم الوحدة الصحية</p>
        </a>
      </li>
      <li>
        <a
          routerLink="/city-center-admin/units/health-unit"
          class="w-[210px] h-36 flex justify-center items-center py-14 px-4 overflow-hidden text-ellipsis bg-white border border-third-border rounded-lg text-center text-xl font-semibold cursor-pointer hover:bg-primary-hov transition-colors duration-200"
        >
          <p class="break-words line-clamp-2">إسم الوحدة الصحية</p>
        </a>
      </li>
      <li>
        <a
          routerLink="/city-center-admin/units/health-unit"
          class="w-[210px] h-36 flex justify-center items-center py-14 px-4 overflow-hidden text-ellipsis bg-white border border-third-border rounded-lg text-center text-xl font-semibold cursor-pointer hover:bg-primary-hov transition-colors duration-200"
        >
          <p class="break-words line-clamp-2">إسم الوحدة الصحية</p>
        </a>
      </li>
      <li>
        <a
          routerLink="/city-center-admin/units/health-unit"
          class="w-[210px] h-36 flex justify-center items-center py-14 px-4 overflow-hidden text-ellipsis bg-white border border-third-border rounded-lg text-center text-xl font-semibold cursor-pointer hover:bg-primary-hov transition-colors duration-200"
        >
          <p class="break-words line-clamp-2">إسم الوحدة الصحية</p>
        </a>
      </li>
      <li>
        <a
          routerLink="/city-center-admin/units/health-unit"
          class="w-[210px] h-36 flex justify-center items-center py-14 px-4 overflow-hidden text-ellipsis bg-white border border-third-border rounded-lg text-center text-xl font-semibold cursor-pointer hover:bg-primary-hov transition-colors duration-200"
        >
          <p class="break-words line-clamp-2">إسم الوحدة الصحية</p>
        </a>
      </li>
    </ul>
  </div>
</section>
