.scroll-container {
  overflow-y: auto;

  /* إخفاء الشريط لمتصفحات مختلفة */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
textarea {
  line-height: 24px; /* ارتفاع السطر */
  min-height: 24px; /* أقل ارتفاع - سطر واحد */
  max-height: 120px; /* أقصى ارتفاع قبل ظهور scrollbar */
  overflow-y: auto; /* يظهر scrollbar عمودي عند الحاجة */
  resize: none; /* منع تغيير حجم يدوي */
}
.selected {
  border: 1px solid #0b4632;
  background-color: #e6f0ff;
}
