<!-- <section class="font-arabic h-screen flex flex-row-reverse">
  <aside class="w-[300px] bg-white border border-r-third-border pt-6">
    <h4 class="text-[28px] font-semibold text-center">المحادثات</h4>
    <ul class="mt-6">
      <li>
        <a
          routerLink=""
          routerLinkActive="bg-[#B6D4CA]"
          class="flex justify-between items-center pr-6 pl-4 py-3 hover:bg-third-bg bg-[#B6D4CA]"
        >
          <div class="flex gap-4">
            <div>
              <h6 class="text-semibold text-xl text-[#151419]">د/ محمد أحمد</h6>
              <span class="font-normal text-sm">مساء الخير ...</span>
            </div>
          </div>
          <small
            class="block bg-[#099250] text-white rounded-full w-7 h-7 text-center leading-7 text-sm"
            >2</small
          >
        </a>
      </li>

      <li>
        <a
          routerLink=""
          routerLinkActive="bg-[#B6D4CA]"
          class="flex justify-between items-center pr-6 pl-4 py-3 hover:bg-third-bg"
        >
          <div class="flex gap-4">
            <div>
              <h6 class="text-semibold text-xl text-[#151419]">د/ محمد أحمد</h6>
              <span class="font-normal text-sm">مساء الخير ...</span>
            </div>
          </div>
          <small
            class="block bg-[#099250] text-white rounded-full w-7 h-7 text-center leading-7 text-sm"
            >2</small
          >
        </a>
      </li>

      <li>
        <a
          routerLink=""
          routerLinkActive="bg-[#B6D4CA]"
          class="flex justify-between items-center pr-6 pl-4 py-3 hover:bg-third-bg"
        >
          <div class="flex gap-4">
            <div>
              <h6 class="text-semibold text-xl text-[#151419]">د/ محمد أحمد</h6>
              <span class="font-normal text-sm">مساء الخير ...</span>
            </div>
          </div>
          <small
            class="block bg-[#099250] text-white rounded-full w-7 h-7 text-center leading-7 text-sm"
            >2</small
          >
        </a>
      </li>
    </ul>
  </aside>
  <div class="content flex flex-col bg-[#F9FAFB] flex-1">
    <h6
      class="font-bold text-lg text-[#151419] w-full px-6 py-4 bg-white border border-b-third-border"
    >
      د/ محمد أحمد
    </h6>

    <div class="flex-1 overflow-y-auto content-end">
      <div class="relative flex justify-start mr-2 mb-40 text-right">
        <p
          class="bg-primary-bg w-fit text-white font-semibold rounded-2xl px-5 py-1"
        >
          أهلا!
        </p>
        <img
          src="/icons/Union-green.svg"
          alt=""
          class="absolute -right-[10px] bottom-0"
        />
      </div>
    </div>
    <div
      class="flex items-center gap-3 px-6 py-2 bg-white border border-t-third-border"
    >
      <button><img src="/icons/Send.svg" alt="" /></button>
      <input
        type="text"
        class="flex-1 placeholder:text-third-txt"
        placeholder="أكتب رسالة"
      />
      <div>
        <label for="files">
          <img src="/icons/Outline.svg" alt="" />
        </label>
        <input type="file" name="files" id="files" class="hidden" />
      </div>
    </div>
  </div>
</section> -->
<div class="container">
    <div class="chat-list mat-elevation-z5">
        <div class="search-input">
            <mat-form-field>                                      
                                                                <!-- home component -->
                                                                <!-- searchControl = new formConltrol(''); -->
                <input matInput placeholder="search for users..." [formControl]="searchControl" [matAutoComplete] = "users" >
            </mat-form-field>
            <mat-autocomplete #users = "matAutoComplete">
                <mat-option *ngFor="let user of users$ | async" (click)="createChat(user)">{{user?.displayName}} </mat-option>
            </mat-autocomplete>
        </div>

        <mat-selection-list [multiple]="false" [formControl]="chatListControl">
            <mat-divider></mat-divider>
            <mat-list-option *ngFor="let chat of myChats$ | async" [value]="chat.id">
                <img matListAvatar [src]="chat.chatPic ? chat.chatPic : 'assets/images/...'"/>
                <p mat-line class="chat-title">
                    <span class="chat-name">
                        {{chat.chatName}}
                    </span>
                    <span class="chat-date">
                        {{chat.lastMessageDate | dateDisplay}}
                    </span>
                </p>
                <p mat-line>
                    {{chat.lastMessage}}
                </p>
                <mat-divider></mat-divider>
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div class="messages mat-elevation-z5">
        <div class="messages-header" *ngIf="selectedChat$ | async as selectedChat; else noMessages">
            <img [src]="selectedChat.chatPic ? selectedChat.chatPic : 'assets/images/... '">
            <h2>{{selectedChat.chatName}}</h2>
        </div>
        <ng-template #noMessages>
            <div class="messages-header">
                <h2>Messages</h2>
            </div>
        </ng-template>
        <mat-driver></mat-driver>
        <div class="chat-area">
            <ng-container *ngIf="user$ | async as currentUser" >
                <div *ngFor="let message of message$ | async" class="chat-bubble-container" [ngClass]="{'sender: message.senderId === currentUser.uid'}">
                    <div class="chat-bubble">
                        {{message.text}}
                        <span class="chat-date">
                            {{message.sentDate | dateDisplay}}
                        </span>
                    </div>
                </div>
                <div  #endOfChat></div>
            </ng-container>
            
        </div>
        <div class="input-area">
            <mat-form-field appearance="outline">
                <input [formControl]="messageControl" matInput placeholder="Enter your message..." (keydown.enter)="sendMessage()">
                <button mat-icon-button matSuffix (click)="sendMessage()">
                    <mat-icon>send</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
</div>