<section class="font-arabic relative bg-mainBg-200 w-full min-h-screen">
  <div class="container relative pt-8">
    <h2 class="text-left text-xl font-bold absolute left-4 top-8 w-full">
      <a routerLink="/home"> إبرة <span class="text-primary-txt">أمان</span></a>
    </h2>

    <div class="flex flex-wrap items-center justify-between mt-20">
      <div class="w-1/2 max-md:w-full">
        <img src="/images/forget-password.svg" alt="" />
      </div>
      <div class="w-1/2 max-md:w-full p-10">
        <h6 class="text-[40px] font-bold text-[#151419]">نسيت كلمة المرور</h6>
        <p class="font-semibold text-xl text-third-txt mt-2">
          أدخل الإيميل الشخصى لتعيين كلمة مرور جديدة
        </p>

        <div class="mt-8">
          <form [formGroup]="forgetPasswordForm" (ngSubmit)="verifyEmail()">
            <div class="mb-4">
              <label class="block text-xl font-semibold mb-2 mr-2" for="email"
                >البريد الإلكتروني</label
              >
              <div class="relative">
                <input
                  formControlName="email"
                  [ngClass]="{
                    'border-red-700': email?.invalid && email?.dirty,
                    'border-third-border': email?.valid || email?.untouched
                  }"
                  type="email"
                  name="email"
                  id="email"
                  placeholder="البريد الإلكتروني"
                  class="placeholder:text-right w-full py-3 px-10 border rounded-lg outline-none border-third-border placeholder:text-third-txt placeholder:text-base"
                />
                <img
                  class="absolute right-4 top-1/2 -translate-y-1/2 text-sm"
                  src="icons/tabler_mail.svg"
                  alt=""
                />
              </div>
              <div
                class="text-red-700 ml-2 font-semibold font-arabic font-base flex items-center gap-1"
                *ngIf="email?.invalid && email?.dirty"
              >
                <img
                  src="./icons/si_warning-fill.svg"
                  alt=""
                  class="w-4 h-4 mt-[1px]"
                />
                <div>
                  <small *ngIf="email?.errors?.['required']">
                    أدخل البريد الإلكتروني.
                  </small>
                  <small *ngIf="email?.errors?.['email']">
                    الرجاء إدخال عنوان بريد إلكتروني صحيح (مثل
                    name&#64;example.com).
                  </small>
                </div>
              </div>
              <div
                class="text-red-700 mr-2 font-bold font-arabic font-base flex items-center gap-1"
                *ngIf="errorMessage"
              >
                <img
                  src="./icons/si_warning-fill.svg"
                  alt=""
                  class="w-4 h-4 mt-[1px]"
                />
                <div>
                  <small>
                    {{ errorMessage }}
                  </small>
                </div>
              </div>
            </div>

            <button
              class="mt-8 cursor-pointer w-full flex justify-center font-arabic gap-[10px] py-[9px] px-[24px] rounded-lg font-bold bg-primary-btn text-mainBg-100 transition duration-200 hover:bg-[#0B4632]"
            >
              <span class="inline-block"> متابعة</span>
            </button>
          </form>
        </div>

        <a
          routerLink="/auth/login"
          class="flex items-center gap-1 text-lg font-semibold mt-2"
        >
          <img src="/icons/material-symbols_arrow-back-rounded.svg" alt="" />
          العودة لصفحة تسجيل الدخول
        </a>
      </div>
    </div>
  </div>
</section>
