/* stepper */

.stepper-register-style .mat-horizontal-stepper-header-container {
  display: none !important;
}

.stepper-register-style .mat-horizontal-content-container {
  padding: 0 !important;
}

.stepper-register-style.mat-stepper-horizontal,
.stepper-register-style.mat-stepper-vertical {
  display: block !important;
  background: transparent !important;
}

