<section class="bg-[#F9FAFB] min-h-screen font-arabic">
  <div class="container pt-6">
    <h3 class="text-[28px] font-semibold text-[#51419]">الملف الشخصى</h3>

    <div
      class="flex flex-col items-center justify-start text-center gap-2 mt-16 text-[#151719] font-semibold"
    >
      <div>
        <h5 class="text-3xl mb-1">
          {{ data?.firstName }} {{ data?.lastName }}
        </h5>
        <small class="text-base font-normal text-third-txt">
          {{ data?.email }}</small
        >
      </div>
    </div>
    <div
      class="bg-white p-6 pt-4 rounded-2xl mt-4 border border-[#E5E7EB] mx-24"
    >
      <h6 class="font-semibold text-lg text-[#151419]">المعلومات الشخصية</h6>
      <div class="mt-6 flex flex-col gap-6">
        <div class="flex gap-6 flex-1">
          <div class="flex-1">
            <span class="block text-third-txt font-normal text-sm">
              الإسم الأول</span
            >

            <span class="block text-base text-[#151419] font-semibold">
              {{ data?.firstName }}</span
            >
          </div>
          <div class="flex-1">
            <span class="block text-third-txt font-normal text-sm">
              أسم العائلة</span
            >

            <span class="block text-base text-[#151419] font-semibold">
              {{ data?.lastName }}</span
            >
          </div>
        </div>
        <div class="flex gap-6 flex-1">
          <div class="flex-1">
            <span class="block text-third-txt font-normal text-sm">
              البريد الإلكترونى</span
            >

            <span class="block text-base text-[#151419] font-semibold">
              {{ data?.email }}
            </span>
          </div>
          <div class="flex-1">
            <span class="block text-third-txt font-normal text-sm">
              رقم الهاتف
            </span>

            <span class="block text-base text-[#151419] font-semibold">
              {{ data?.phoneNumber }}
            </span>
          </div>
        </div>
        <div class="flex gap-6 flex-1">
          <div class="flex-1">
            <span class="block text-third-txt font-normal text-sm">
              المركز/ المحافظة
            </span>

            <span class="block text-base text-[#151419] font-semibold">
              {{ data?.village }} / {{ data?.governorate }}
            </span>
          </div>
          <div class="flex-1">
            <span class="block text-third-txt font-normal text-sm">
              الوحدة الصحية التابع لها
            </span>

            <span class="block text-base text-[#151419] font-semibold">
              {{ healthcareDetails?.healthCareCenterName }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <a
      [routerLink]="['/parent/dashboard/edit-user-profile', userId]"
      class="block mx-auto mt-6 rounded-lg border-2 px-6 py-2 w-fit border-primary-txt text-primary-txt text-lg font-bold transition duration-200 hover:bg-primary-bg hover:text-white"
    >
      تعديل الملف الشخصي
    </a>
  </div>
</section>
