<section class="font-arabic">
  <button (click)="close()" class="p-1 block">
    <img src="./icons/close.svg" alt="" class="block w-5 h-5" />
  </button>

  <div class="text-center px-[26px]">
    <h4 class="font-bold text-[22px] text-[#121212] mt-2 mb-6">
      إختيار الجرعات التي تلقّاها الطفل
    </h4>
    <form>
      <div class="grid grid-cols-3 gap-4 text-center">
        @for (item of vaccines; track $index) {
        <label
          class="block text-[#151419] cursor-pointer bg-white rounded-[32px] px-4 py-2 border border-third-border"
          [ngClass]="{
            'border-third-border bg-white': !selectedStates[item.name],
            'border-primary-bg bg-primary-table': selectedStates[item.name]
          }"
        >
          <input
            type="checkbox"
            name="vaccine_1"
            #vaccineCheckbox
            [value]="item.name"
            [(ngModel)]="selectedStates[item.name]"
            class="hidden vaccine-check"
            (change)="onCheckboxChange($event)"
          />
          <div class="vaccine-btn text-base">
            {{ item.name }}
            <span class="block text-xs">
              {{ item.childAge }}
            </span>
          </div> </label
        >}
      </div>
      <button
        type="button"
        *ngIf="selectedVaccines.length > 0"
        (click)="submitVaccines()"
        class="mx-auto mt-5 block cursor-pointer font-arabic gap-[10px] py-[9px] px-[24px] rounded-lg font-bold bg-primary-btn text-mainBg-100 transition duration-200 hover:bg-[#0B4632]"
      >
        إضافة
      </button>
    </form>
  </div>
</section>
