<section class="bg-mainBg-200 min-h-screen">
  <div class="container pt-6 pb-5">
    <h3 class="text-[28px] font-semibold text-[#51419]">أطفالى</h3>
    <div class="flex items-center gap-1 mt-3">
      <a routerLink="/parent/my-children">أطفالى</a>
      <img
        src="/icons/Caret Down.svg"
        alt=""
        class="rotate-90 h-3 w-3 mt-[6px]"
      />
      <a [routerLink]="['/parent/my-children/child-vaccine-schedule', childId]"
        >جدول طفلك {{ childName }}</a
      >
    </div>

    @if (msgError) {
    <div
      class="text-red-700 mt-4 font-semibold font-arabic font-base flex items-center justify-center"
      *ngIf="msgError"
    >
      {{ msgError }}
    </div>

    }@else {
    <table class="min-w-full overflow-x-auto mt-4">
      <thead class="bg-primary-table">
        <tr class="border border-[#E5E7EB] border-b-transparent">
          <th
            scope="col"
            class="px-6 py-3 text-center text-base font-semibold text-[#151419]"
          ></th>
          <th
            scope="col"
            class="px-6 py-3 text-center text-base font-semibold text-[#151419]"
          >
            الجرعة
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-center text-base font-semibold text-[#151419]"
          >
            العمر
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-center text-base font-semibold text-[#151419]"
          >
            الأيام المتبقية
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-center text-base font-semibold text-[#151419]"
          >
            توعية
          </th>
          <th
            scope="col"
            class="px-6 py-3 text-center text-base font-semibold text-[#151419]"
          >
            حالة اللقاح
          </th>
        </tr>
      </thead>
      <tbody>
        @for (item of vaccines; track $index) {
        <tr
          class="border border-[#E5E7EB] border-t-transparent"
          [ngClass]="{
            'text-third-txt': item.isTaken == true,
            'text-[#151419]': item.isTaken == false
          }"
          [ngStyle]="
            item.isTaken && getDaysDifference(item.takedAt) < 0
              ? { 'pointer-events': 'none' }
              : {}
          "
        >
          <td class="px-6 py-4 whitespace-nowrap text-center">
            <div class="h-10 w-10 flex items-center justify-center">
              @if (!item.isTaken) {
              <span
                class="block w-[22px] h-[22px] rounded border-[#121212] border-[2px]"
              ></span>
              } @if (item.isTaken && getDaysDifference(item.takedAt) <= 0) {
              <img
                src="/icons/Icon-checked-gray.svg"
                alt=""
                class="w-[22px] h-[22px]"
              />
              } @if (item.isTaken && getDaysDifference(item.takedAt) > 0) {
              <img
                src="/icons/Icon-checked.svg"
                alt=""
                class="w-[22px] h-[22px]"
              />
              }
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-center">
            <span class="inline-block text-base">{{ item.name }}</span>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-center">
            <span class="inline-block text-base"
              >{{ item.childAgeDetails }}
            </span>
          </td>

          <td class="px-6 py-4 whitespace-nowrap text-center">
            <span class="inline-block text-base">
              {{ item.isTaken == true ? "تم أخذ اللقاح" : "يمكنك الحجز الآن" }}
            </span>
          </td>

          <td class="px-6 py-4 whitespace-nowrap text-center">
            <button (click)="expectedSideEffects(item.name)">
              <span class="inline-block text-base underline"
                >الأعراض الجانبية المتوقعة</span
              >
            </button>
          </td>

          <td class="px-6 py-4 whitespace-nowrap text-center">
            @if(!item.isTaken && ageInMonth==item.childAge){ @if(!bookingOrNot)
            {
            <button
              (click)="bookingVaccine(item.id)"
              class="mx-auto w-fit cursor-pointer flex font-arabic gap-2 py-[11px] px-[24px] rounded-lg font-bold bg-primary-btn text-mainBg-100 transition duration-200 hover:bg-[#0B4632]"
            >
              <span class="inline- text-sm"> حجز موعد</span>
              <img
                src="/icons/icon-park-outline_appointment.svg"
                alt=""
              /></button
            >} @else {
            <button
              (click)="bookingVaccine(item.id)"
              class="mx-auto w-fit cursor-pointer flex font-arabic gap-2 py-[11px] px-[24px] rounded-lg font-bold bg-primary-btn text-mainBg-100 transition duration-200 hover:bg-[#0B4632]"
            >
              <span class="inline- text-sm"> تعديل موعد</span>
              <img src="/icons/icon-park-outline_appointment.svg" alt="" />
            </button>

            }} @else if (item.isTaken && ageInMonth==item.childAge &&
            getDaysDifference(item.takedAt)<= 0) {
            <a
              routerLink="/chat"
              class="mx-auto w-fit cursor-pointer flex font-arabic gap-2 py-[11px] px-[24px] rounded-lg font-bold bg-primary-btn text-mainBg-100 transition duration-200 hover:bg-[#0B4632]"
            >
              <span class="inline- text-sm"> إبلاغ عن أعراض جانبية</span>
              <img src="/icons/side effect.svg" alt="" />
            </a>

            }
          </td>
        </tr>
        }
      </tbody>
    </table>
    }

    <div class="flex justify-center items-center gap-6 mt-6">
      @if (allVaccinesTaken) {
      <a
        routerLink="#"
        class="w-fit cursor-pointer flex font-arabic gap-2 py-[11px] px-6 rounded-lg font-bold bg-primary-btn text-mainBg-100 transition duration-200 hover:bg-[#0B4632]"
      >
        <span class="inline- text-sm"> عرض الشهادة</span>
        <img src="/icons/humbleicons_certificate.svg" alt="" /> </a
      >}
      <button
        (click)="goBack()"
        class="flex w-fit items-center justify-center gap-2 bg-[#151419] text-mainBg-100 px-6 py-[9px] rounded-lg transition duration-200 hover:opacity-80"
        role="button"
      >
        <img
          src="/icons/streamline_emergency-exit.svg"
          alt=""
          class="w-6 h-6"
        />
        <span class="text-base font-semibold">رجوع</span>
      </button>
    </div>
  </div>
</section>
