<section class="bg-[#F9FAFB] min-h-screen font-arabic">
  <div class="container pt-6">
    <h3 class="text-[28px] font-semibold text-[#51419]">اللقاحات القادمة</h3>

    <div class="mt-10 px-5">
      <ul class="space-y-10">
        @if (data) { @for (item of data; track $index) {

        <li class="bg-[#E7F1EE] text-center py-6 px-16 rounded-md">
          <h5 class="text-black text-xl mb-8 font-bold">
            اللقاح القادم لإبنك
            {{ item.childName }}
          </h5>
          <div class="flex justify-between items-center text-xl font-normal">
            <span>الجرعة {{ item.vaccineName }}</span>
            <span>يوم {{ item.dayAr }} </span>
            <div class="inline">
              <span>
                متبقى على الموعد {{ item.restOfDaysToAppointment }} أيام
              </span>

              <button
                (click)="editVaccine(item)"
                class="block mx-auto underline text-base text-secondary-btn font-bold"
              >
                تعديل
              </button>
            </div>
          </div>
        </li>
        }}@else {
        <li class="bg-[#E7F1EE] text-center py-6 px-16 rounded-md">
          لم يتم حجز أي موعد
        </li>

        }
      </ul>
    </div>
  </div>
</section>
