@import "ngx-toastr/toastr";
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo/Cairo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo/Cairo-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo/Cairo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo/Cairo-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo/Cairo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo/Cairo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo/Cairo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo/Cairo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "Cairo", sans-serif;
}
body {
  direction: rtl;
  text-align: right;
}

* {
  outline: none;
}
::selection {
  background-color: #b6d4ca;
  color: #000;
}

::-moz-selection {
  background-color: #b6d4ca;
  color: #000;
}
@layer utilities {
  .activeLink {
    display: flex;
    gap: 8px;
    padding: 10px 24px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }
  .activeLink img {
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }
  .present {
    color: #06291d;
    background-color: #dbeae5;
    border-right: 4px solid #06291d;
  }
  .activeLink:not(.present):hover {
    color: #06291d;
    background-color: #b6d4ca;
  }

  .present img,
  .activeLink:not(.present):hover img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}

label {
  font-family: "Cairo", sans-serif;
}
input {
  font-family: "Cairo", sans-serif;
}
input::placeholder {
  font-family: "Cairo", sans-serif;
}
/* سهمين حقل الرقم */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* لمتصفح Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input,
select {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
  opacity: 0;
  pointer-events: none;
}
.ngx-toastr {
  border: 2.5px solid #06291d !important;
  background-color: #fff !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
  margin-top: 20px !important;
  width: 350px !important;
  max-width: 90vw !important;
  border-radius: 8px !important;
  padding: 12px 16px !important;
  color: #06291d !important;
  font-family: "Cairo", sans-serif !important;
  font-size: 14px !important;
  position: relative;
}
.ngx-toastr .toast-close-button {
  color: #06291d !important;
  font-size: 30px;
  width: fit-content;
  opacity: 1 !important;
  position: absolute;
  top: -3px;
  right: calc(100% - 30px);
}

/* Success */
.swal2-icon.swal2-success {
  border-color: #127453 !important; /* لون الدائرة الخارجية */
  color: #127453 !important; /* اللون العام */
}
.swal2-icon.swal2-success .swal2-success-ring {
  border-color: #127453 !important; /* الدائرة */
}
.swal2-icon.swal2-success .swal2-success-line-tip,
.swal2-icon.swal2-success .swal2-success-line-long {
  background-color: #127453 !important; /* خطوط علامة الصح */
}

/* Error */
.swal2-icon.swal2-error {
  border-color: #b4231b !important;
  color: #b4231b !important;
}
.swal2-icon.swal2-error .swal2-x-mark-line {
  background-color: #b4231b !important;
}
.swal2-icon.swal2-error .swal2-x-mark-line-left,
.swal2-icon.swal2-error .swal2-x-mark-line-right {
  background-color: #b4231b !important; /* لون خطوط الـ X */
}
/* Info */
.swal2-icon.swal2-info {
  color: #8e98a8 !important;
  border-color: #8e98a8 !important;
}

.swal2-title {
  padding: 0px !important; /* عدل القيم حسب اللي يناسبك */
}
.swal2-html-container {
  padding-top: 5px !important; /* تعديل padding النص (body) */
  padding-bottom: 0px !important; /* تعديل padding النص (body) */
}

