@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Cairo", sans-serif;
}

* {
  outline: none;
}
::selection {
  background-color: #127453;
  color: #fff;
}

::-moz-selection {
  background-color: #127453;
  color: #fff;
}
@layer utilities {
  .activeLink {
    display: flex;
    gap: 8px;
    padding: 10px 24px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }
  .activeLink img {
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }
  .present {
    color: #06291d;
    background-color: #dbeae5;
    border-right: 4px solid #06291d;
  }
  .activeLink:not(.present):hover {
    color: #06291d;
    background-color: #b6d4ca;
  }

  .present img,
  .activeLink:not(.present):hover img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}

label {
  font-family: "Cairo", sans-serif;
}
input {
  font-family: "Cairo", sans-serif;
}
input::placeholder {
  font-family: "Cairo", sans-serif;
}
/* سهمين حقل الرقم */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* لمتصفح Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input,
select {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
  opacity: 0;
  pointer-events: none;
}
