<!-- <div class="p-5">
  <div class="flex justify-between items-center">
    <a routerLink="/home" class="logo outline-none border-none text-black text-xl font-bold">
      <h2>
        إبرة
        <span class="inline-block text-green-500">أمان</span>
      </h2>
    </a>
    <button (click)="toggleNavbar()" class="toggle-menu w-8 h-8 md:hidden">
      <span class="text-black text-xl hover:text-green-700">✖</span>
    </button>
  </div>
  <div class="mt-5 bg-gray-50 p-4 rounded-3xl">
    <details class="group">
      <summary class="flex items-center justify-between gap-2 p-2 font-medium marker:content-none hover:cursor-pointer">
        <div class="flex items-center gap-2">
          <img class="w-10 h-10 rounded-full"
            src="https://lh3.googleusercontent.com/a/AGNmyxbSlMgTRzE3_SMIxpDAhpNad-_CN5_tmph1NQ1KhA=s96-c" alt="">

          <div class="flex-col gap-5 text-xs">
            <span class="block">
              دعاء أشرف
            </span>
            <small>da210509gamil.com</small>
          </div>
        </div>
        <svg class="w-4 h-4 text-gray-500 transition group-open:rotate-90" xmlns="http://www.w3.org/2000/svg" width="16"
          height="16" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
          </path>
        </svg>
      </summary>
      <article>
        <ul class="flex flex-col p-2 bg-white rounded-3xl">
          <li>
            <a class="block px-3 text-gray-600">تسجيل الخروج </a>
          </li>
        </ul>

      </article>

    </details>
  </div>
  <div class="links mt-10">
    <div class="links-home-page hidden">
      <ul class="text-base font-semibold text-gray-800">
        <li class="border-b-[1px] hover:text-green-500 transition-all duration-200 ease-linear">
          <a class="py-5 pl-5 block">جدول التطعيمات</a>
        </li>
        <li class="border-b-[1px] hover:text-green-500 transition-all duration-200 ease-linear">
          <a class="py-5 pl-5 block">من نحن</a>
        </li>
        <li class="border-b-[1px] hover:text-green-500 transition-all duration-200 ease-linear">
          <a class="py-5 pl-5 block">تواصل معنا</a>
        </li>
      </ul>
    </div>
    <div class="anthor-links">
      <div class="pd-links">
        <ul class="text-base font-semibold text-gray-700">
          <li class="border-b-[1px] hover:text-green-500 transition-all duration-200 ease-linear">
            <a class="py-5 pl-5 block">الرئيسية </a>
          </li>
          <li class="border-b-[1px] hover:text-green-500 transition-all duration-200 ease-linear">
            <a class="py-5 pl-5 block">أطفالي</a>
          </li>
          <li *ngIf="true" class="border-b-[1px] hover:text-green-500 transition-all duration-200 ease-linear">
            <a class="py-5 pl-5 block"> الأطفال</a>
          </li>
          <li class="border-b-[1px] hover:text-green-500 transition-all duration-200 ease-linear">
            <a class="py-5 pl-5 block"> إبلاغ عن شكوى </a>
          </li>
        </ul>
      </div>
      <div class="admin-hospital-links hidden">
        <ul class="items-center text-base font-semibold text-gray-700">
          <li class="border-b-[1px] hover:text-green-500 transition-all duration-200 ease-linear">
            <a class="py-5 pl-5 block"> الأطفال القادمون</a>
          </li>
          <li class="border-b-[1px] hover:text-green-500 transition-all duration-200 ease-linear">
            <a class="py-5 pl-5 block">اللقاحات</a>
          </li>
        </ul>
      </div>
      <div class="Ministry-links hidden">
        <ul class="items-center text-base font-semibold text-gray-700">
          <li class="border-b-[1px] hover:text-green-500 transition-all duration-200 ease-linear">
            <a class="py-5 pl-5 block">الوحدات الصحية </a>
          </li>
          <li class="border-b-[1px] hover:text-green-500 transition-all duration-200 ease-linear">
            <a class="py-5 pl-5 block"> الشكاوى</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
