<section class="bg-mainBg-200 min-h-screen">
  <div class="container pt-6 pb-5">
    <h6 class="text-[28px] font-semibold text-[#51419]">تفاصيل الشكوى</h6>

    <div class="mt-6">
      <div class="bg-white rounded-lg px-6 pt-4 pb-8 mb-8 border">
        <h6 class="font-semibold text-lg mb-6">تفاصيل الشكوى</h6>
        <div>
          <div class="flex items-center gap-1">
            <img class="inline" src="/icons/user-compalint.svg" alt="" />
            <span class="text-third-txt font-normal">مقدم الشكوى</span>
          </div>
          <p class="font-semibold">{{ data?.userName }}</p>
        </div>
        <div class="flex items-center mt-4 mb-6">
          <div class="flex-1">
            <img class="inline" src="/icons/uniys-gray.svg" alt="" />
            <span class="mr-1 text-third-txt font-normal">الوحدة الصحية</span>
            <p class="font-semibold mt-1">{{ data?.healthCareCenterName }}</p>
          </div>
          <div class="flex-1">
            <img class="inline" src="/icons/location.svg" alt="" />
            <span class="mr-1 text-third-txt font-normal">العنوان</span>
            <p class="font-semibold mt-1">
              محافظة
              {{ organizerGovernorateName }}

              - مركز {{ organizerCityName }}
            </p>
          </div>
          <div class="flex-1">
            <img class="inline" src="/icons/cib_gmail.svg" alt="" />
            <span class="mr-1 text-third-txt font-normal"
              >البريد الإلكترونى الخاص بمسئول الوحدة</span
            >
            <p class="font-semibold mt-1">{{ organizerEmail }}</p>
          </div>
        </div>

        <p class="text-center mx-auto">
          {{ data?.message }}
        </p>
      </div>
    </div>

    <button
      *ngIf="!complaintHandled"
      (click)="handleComplaint()"
      class="flex items-center w-fit bg-primary-bg px-6 py-3 mx-auto rounded-lg hover:bg-primary-hovbtn transition-colors"
    >
      <img src="/icons/carbon_send-filled.svg" alt="" />
      <span class="text-white font-bold mr-2 text-[16px]"
        >تنبيه مقدم الشكوى بحل المشكلة</span
      >
    </button>
  </div>
</section>
