<section class="bg-mainBg-200 min-h-screen">
  <div class="container pt-6 pb-5">
    <h3 class="text-[28px] font-semibold text-[#51419]">
      {{ fromPage === "deferred" ? "الأطفال المؤجلين" : "الأطفال" }}
    </h3>

    <!-- -->
    <div class="flex items-center gap-1 mt-3">
      @if (fromPage === "children") {
      <a routerLink="/doctor/children"> الأطفال</a>
      }@else {
      <a routerLink="/doctor/deferred-children"> الأطفال المؤجلين</a>
      }

      <!-- -->
      <img
        src="/icons/Caret Down.svg"
        alt=""
        class="rotate-90 h-3 w-3 mt-[6px]"
      />
      <span> بيانات الطفل</span>
    </div>

    <div
      class="flex gap-6 bg-white py-4 px-6 rounded-2xl mt-8 border border-[#E5E7EB]"
    >
      <div class="flex flex-col gap-6 flex-1">
        <div>
          <div class="flex gap-2 items-center">
            <img src="/icons/child.svg" alt="" />
            <span class="text-third-txt font-normal text-sm">إسم الطفل</span>
          </div>
          <span class="text-base text-[#151419] font-semibold">أحمد محمد</span>
        </div>
        <div>
          <div class="flex gap-2 items-center">
            <img src="/icons/fluent-mdl2_date-time.svg" alt="" />
            <span class="text-third-txt font-normal text-sm">العمر </span>
          </div>
          <span class="text-base text-[#151419] font-semibold"> 60 يوم</span>
        </div>
      </div>
      <div class="flex flex-col gap-6 flex-1">
        <div>
          <div class="flex gap-2 items-center">
            <img src="/icons/material-symbols_history.svg" alt="" />
            <span class="text-third-txt font-normal text-sm">
              التاريخ المرضى</span
            >
          </div>
          <span class="text-base text-[#151419] font-semibold">
            الطفل يعانى من إرتفاع شديد فى درجة الحرارة</span
          >
        </div>
        <div>
          <div class="flex gap-2 items-center">
            <img src="/icons/tabler_photo.svg" alt="" />
            <span class="text-third-txt font-normal text-sm">
              صور التحاليل</span
            >
          </div>

          <ul class="mt-4 space-y-2 text-base text-[#151419] font-semibold">
            <li>
              <a
                [href]="'assets/images/image1.jpg'"
                target="_blank"
                rel="noopener"
                class="underline"
              >
                صورة 1
              </a>
            </li>
            <li>
              <a
                [href]="'assets/images/image2.jpg'"
                target="_blank"
                rel="noopener"
                class="underline"
              >
                صورة 2
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="flex justify-center items-center gap-6 mt-6">
      <button
        (click)="goBack()"
        class="flex w-fit items-center justify-center gap-2 bg-[#151419] text-mainBg-100 px-6 py-[9px] rounded-lg transition duration-200 hover:opacity-80"
        role="button"
      >
        <img
          src="/icons/streamline_emergency-exit.svg"
          alt=""
          class="w-6 h-6"
        />
        <span class="text-base font-semibold">رجوع</span>
      </button>
      @if(fromPage==='children'){
      <button
        class="w-fit cursor-pointer flex font-arabic gap-2 py-[9px] px-4 rounded-lg font-bold bg-[#B4231B] text-mainBg-100 transition duration-200 hover:bg-[#7A271A]"
      >
        <span class="inline- text-sm"> تأجيل التطعيم</span>
        <img src="/icons/ph_clock-clockwise-fill.svg" alt="" /></button
      >}
      <button
        class="w-fit cursor-pointer flex font-arabic gap-2 py-[9px] px-4 rounded-lg font-bold bg-primary-btn text-mainBg-100 transition duration-200 hover:bg-[#0B4632]"
      >
        <img src="/icons/game-icons_check-mark.svg" alt="" />
        <span class="inline- text-sm"> السماح بالتطعيم</span>
      </button>
    </div>
  </div>
</section>
