<section class="bg-mainBg-200 min-h-screen">
  <div class="container pt-6 pb-5">
    <h3 class="text-[28px] font-semibold text-[#51419]">الإشعارات</h3>

    <ul class="mt-6">
      @for (item of notifications; track $index) {

      <li
        class="flex gap-4 border-y py-5 px-4 hover:bg-primary-hov transition duration-200"
      >
        <div class="flex-1 flex gap-4">
          <img *ngIf="!item.isRead" src="/icons/Dot2.svg" alt="" />
          <div>
            <h6 class="font-bold">{{ item.title }}</h6>
            <p>{{ item.message }}</p>
          </div>
        </div>
        <button
          (click)="markAsRead(item.id)"
          class="font-bold text-primary-btn hover:underline"
        >
          تعليم كمقروءة
        </button>
      </li>
      }
    </ul>
  </div>
</section>
