<section class="bg-mainBg-200 min-h-screen">
  <div class="container pt-6 pb-5">
    <h3 class="text-[28px] font-semibold text-[#51419]">الإشعارات</h3>

    <ul class="mt-6">
      <li
        class="flex gap-4 border-y py-5 px-4 hover:bg-primary-hov transition duration-200"
      >
        <img src="/icons/Dot2.svg" alt="" />
        <div>
          <h6 class="font-bold">أوردر جديد</h6>
          <p>تم تلقى أوردر من محافظة القاهرة إضغط لعرض تفاصيل الأوردر</p>
        </div>
      </li>
      <li
        class="flex gap-4 border-b py-5 px-4 hover:bg-primary-hov transition duration-200"
      >
        <img src="/icons/Dot2.svg" alt="" />
        <div>
          <h6 class="font-bold">أوردر غير مستلم</h6>
          <p>أوردر محافظة القاهرة لم يصل بعد</p>
        </div>
      </li>
    </ul>
  </div>
</section>
